.big--button--for--modal--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  border: 0.5px solid #737dff;
  cursor: pointer;
  width: 260px;
}

.big--button--for--modal--container:active {
  border: 0.5px solid white;
}

.big--button--for--modal--container.background--white {
  background: white;
  color: black;
}

.big--button--for--modal--container.background--blue {
  background: #737dff;
  color: white;
}

.big--button--for--modal--container--icon {
  padding: 10px;
  height: 40px;
  width: 55px;
}

.big--button--for--modal--container--title {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 135px;
  margin: 0;
}
