.team-dashboard-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 425px;
  height: 100vh;
  background: #ebebff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
/* ************************************************ */
.team-dashboard-container-left .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.team-dashboard-container-left .header .title {
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.team-dashboard-container-left .header .referCode {
  color: #737dff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.team-dashboard-container-left .header .image {
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

/* ************************************************ */
.team-dashboard-container-left .componente-raro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #737dff;
}

/* ************************************************ */
.team-dashboard-container-left .table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 500000;
}

.team-dashboard-container-left .table-container .title {
  display: grid;
  grid-template-columns: 1fr 12fr;
  text-align: left;
  font-size: 24px;
  color: #737dff;
  font-family: "Roboto";
  font-weight: 700;
  width: inherit;
}

/* .team-dashboard-container-left .table-container .selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
} */

.team-dashboard-container-left .table-container .table {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 660px;
  /* width: 90%; */
  width: 400px;
}

.team-dashboard-container-left .table-container .table::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.team-dashboard-container-left
  .table-container
  .table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.team-dashboard-container-left
  .table-container
  .table:hover::-webkit-scrollbar {
  background: transparent;
}

.team-dashboard-container-left .table-container .table .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 10px;
  opacity: 1;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 4px;
  border: 1px solid white;
  position: relative;
}

.team-dashboard-container-left
  .table-container
  .table
  .element.remake-left-border {
  border: 1px solid #5c9afe;
  border-left-color: #737dff;
  border-left-style: solid;
  border-left-width: 5px;
}

/* ************************************************************************************ */
.team-dashboard-container-left .table-container .table .element .main-producer {
  display: grid;
  grid-template-columns: 55px 10px 150px 60px 40px 40px;
  width: 372px;
  height: 66px;
  margin: 1px 0;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .main-producer
  > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .main-producer
  .fullname {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  float: left;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .main-producer
  .team {
  color: #2d2e8f;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .main-producer
  .tamanio {
  color: #0ab8b2;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .main-producer
  .icon-options {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px #0055ff29;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 18px;
}
/* ************************************************************************************ */
.team-dashboard-container-left
  .table-container
  .table
  .element
  .sublist-element {
  width: inherit;
  display: none;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .sublist-element.open-producer {
  display: block;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .sublist-element
  .sublist-item {
  display: grid;
  grid-template-columns: 30px 220px 60px 30px;
  line-height: 30px;
  height: 30px;
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  margin-bottom: 5px;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .sublist-element
  .sublist-item
  > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.5px solid green; */
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .sublist-element
  .sublist-item
  .icon {
  box-shadow: 0px 1px 6px #0055ff29;
  border-radius: 5px;
}

/* ************************************************************************************ */
.team-dashboard-container-left
  .table-container
  .table
  .element
  .agents-producer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 37px;
  border-top-color: #eaecf8;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 100%;
}
.team-dashboard-container-left
  .table-container
  .table
  .element
  .agents-producer.remake-top {
  border-top-color: blue;
}

/* .team-dashboard-container-left
  .table-container
  .table
  .element
  .agents-producer
  .icon {
  
} */

.team-dashboard-container-left
  .table-container
  .table
  .element
  .agents-producer
  .show-team {
  color: var(--unnamed-color-2d2e8f);
  text-align: center;
  font: Bold 14px/17px Roboto;
  letter-spacing: 0px;
  color: #2d2e8f;
  opacity: 1;
}

/* ******************************************************** */
.team-dashboard-container-left
  .table-container
  .table
  .element
  .popup-menu-element {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgba(32, 29, 135, 0);
  z-index: 500000;
}

.team-dashboard-container-left
  .table-container
  .table
  .element
  .popup-menu-element.visible-popup-menu-element {
  display: block;
}

.content-popup-menu-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  z-index: 500001;
  width: 283px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #5c9afe;
  border-radius: 10px;
  opacity: 1;
  border: 0.5px solid #5c9afe;
}

.content-popup-menu-elemen-option {
  color: #9497ae;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  height: 47px;
  padding-left: 10px;
  line-height: 47px;
  cursor: pointer;
}

.content-popup-menu-elemen-option.middle-element {
  border-bottom-color: #9497ae;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

.content-popup-menu-elemen-option:hover {
  color: #737dff;
}
