.recover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-text-mandatory {
  text-align: justify;
  text-align-last: left;
  width: 400px;
}

.redirect-buttons {
  width: 450px;
  margin: 0 auto;
  display: grid;
}

@media (min-width: 1000px) {
  .redirect-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
