.wallet-dashboard-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 425px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
/* ************************************************ */
.wallet-dashboard-container-left .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.wallet-dashboard-container-left .header .title {
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.wallet-dashboard-container-left .header .referCode {
  color: #737dff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.wallet-dashboard-container-left .header .image {
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

/* ************************************************ */
.wallet-dashboard-container-left .componente-raro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #737dff;
}

/* ************************************************ */
.wallet-dashboard-container-left .table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wallet-dashboard-container-left .table-container .title {
  display: grid;
  grid-template-columns: 1fr 12fr;
  text-align: left;
  font-size: 24px;
  color: #737dff;
  font-family: "Roboto";
  font-weight: 700;
  width: inherit;
}

.wallet-dashboard-container-left .table-container .selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.wallet-dashboard-container-left .table-container .table {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 660px;
  width: 90%;
}

.wallet-dashboard-container-left .table-container .table::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.wallet-dashboard-container-left
  .table-container
  .table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.wallet-dashboard-container-left
  .table-container
  .table:hover::-webkit-scrollbar {
  background: transparent;
}

.wallet-dashboard-container-left .table-container .table .element {
  display: flex;
  width: 100%;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  margin: 1px 0;
  cursor: pointer;
}

.wallet-dashboard-container-left .table-container .table .element > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallet-dashboard-container-left .table-container .table .element .item {
  /* height: inherit; */
  width: 70px;
}

.wallet-dashboard-container-left .table-container .table .element .item-center {
  flex-grow: 1;
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
}

.wallet-dashboard-container-left
  .table-container
  .table
  .element
  .item-center
  .name {
  color: #67698b;
  font-size: 14px;
  width: 100%;
}

.wallet-dashboard-container-left
  .table-container
  .table
  .element
  .item-center
  .number {
  width: 100%;
  color: #a4a7be;
}

.wallet-dashboard-container-left .table-container .table .element .item {
  color: #67698b;
  font-size: 14px;
}
