.circle-statics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  color: black;
  border: 1px solid #a4a7be;

  background-image: linear-gradient(-90deg, transparent 50%, white 50%),
    linear-gradient(45deg, white 50%, transparent 50%);
}

.ARS {
  background-color: rgb(0, 34, 128);
}

.USD {
  background-color: rgb(19, 199, 181);
}

.circle2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #a4a7be;
  width: 68px;
  height: 68px;
  background: white;
  border-radius: 50%;
  color: #a4a7be;
  font-size: 14px;
}

.checks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  color: #a4a7be;
  width: 60%;
  height: 50px;
  margin-left: 10px; /* REVISAR */
}

.check-title-image {
  margin-right: 10px;
}

.checks-title {
  display: flex;
  flex-direction: row;
}
