.operate-table-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
  background: white;
  position: relative;
  overflow: auto;
  padding-bottom: 5px;
}

.operate-table-view::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.operate-table-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.operate-table-view:hover::-webkit-scrollbar {
  background: transparent;
}

.data-element-operate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 860px;
  border-radius: 5px;
  overflow: visible;
}

.data-element-operate > div {
  line-height: 55px;
}

.data-element-operate .icon-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 20px 10px;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.data-element-operate .icon-check.checked {
  background: #737dff;
}

.data-element-operate .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #a4a7be;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 330px;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.data-element-operate .quantity-ganancia {
  color: #0ab8b2;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  width: 70px;
  text-align: center;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.data-element-operate .quantity-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #67698b;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  /* width: 140px; */
  border-style: none;
}

.data-element-operate .quantity-price > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
}

.custom-input-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.custom-input-price > input {
  border-style: none;
  height: 100%;
  width: 70%;
  outline: none;
  text-align: center;
}

.custom-input-price > input::placeholder {
  text-align: center;
  color: #67698b;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.data-element-operate .quantity-limit {
  color: #67698b;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  width: 100px;
  text-align: center;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.data-element-operate .icon-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  height: 30px;
  width: 30px;
  padding: 0px;
  box-shadow: 0px 1px 6px #0055ff29;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
}
