.team-dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1300px;
  position: relative;
  /* border: 0.5px solid green; */
}
/* *************************************************************** */
