.operate-table-header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #737dff;
  height: 31px;
  width: 900px;
  font-family: "Roboto";
  font-size: 13px;
  background: white;
  text-align: left;
  padding-bottom: 3px;
}

.operate-table-header-container > div {
  height: 100%;
  line-height: 40px;
  text-align: left;
  /* border: 1px solid red; */
}

.operate-table-header-container .check {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 28px;
  margin-right: 20px;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.operate-table-header-container .check.afirmative {
  background: #737dff;
}

.operate-table-header-container .name {
  width: 310px;
}

.operate-table-header-container .ganancia {
  width: 100px;
}

.operate-table-header-container .quantity {
  width: 140px;
}

.operate-table-header-container .price {
  width: 115px;
}

.operate-table-header-container .limit {
  /* width: 100px; */
}
