:root {
  --primary: #4628ff;
  --blue: #01043b;
  --aqua: #423894;
  --default: #0056ff;
  --active: #00ffee;
  --hover: #d6d6d6;
  --white: #ffffff;
}
/* *************************************** */
.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

/* STYLE PRIMARY BUTTONS */
.btn--primary {
  background: var(--aqua);
  color: var(--white);
  border: 1px solid var(--aqua);
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn--medium {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
}

.btn--primary:active {
  background: var(--active);
  color: var(--aqua);
}

/* STYLE SECONDARY BUTTONS */
.btn--secondary {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn--secondary:hover {
  /* background: var(--white);
  color: var(--hover);
  border: 2px solid var(--hover);
  opacity: 0.7; */
}

.btn--secondary:active {
  background: var(--active);
  color: var(--aqua);
  border: 2px solid var(--primary);
}

/* STYLE SECONDARY BUTTONS */
.btn--third {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn--third:active {
  background: var(--active);
  color: var(--aqua);
  border: 1px solid var(--primary);
}

.btn--small {
  height: 30px;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 3px;
  color: black;
  width: 100px;
}

.arreglar1 {
  background: var(--aqua);
  color: var(--white);
  border: 1px solid var(--aqua);
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
}

.arreglar2 {
  background: var(--aqua);
  color: var(--white);
  border: 1px solid var(--aqua);
  padding-top: 7px;
  padding-bottom: 12px;
  width: 140px;
  height: 30px;
}

.arreglar3 {
  background: var(--aqua);
  color: var(--white);
  border: 1px solid var(--aqua);
  font-size: 14px;
  padding: 12px 12px;
  width: 260px;
  height: 45px;
}
