.raro-dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 385px;
  height: 58px;
  background: #f4f6fd 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #b6b4d9;
  border-radius: 10px;
  opacity: 1;
}

.raro-dashboard-container {
}
