.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-text-mandatory {
  text-align: justify;
  text-align-last: left;
  width: 400px;
}

.forget-links-3 {
  width: 450px;
  margin: 0 auto;
  display: grid;
}

/* .forget-links > div {
  text-align: center;
  font-size: 20px;
} */

@media (min-width: 900px) {
  .forget-links-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
