.clientsWallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 700px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000000f;
  border-radius: 5px;
  padding: 10px;
}
/* ************************************************ */
.clientsWallet-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  width: 98%;
  height: 25%;
}

.clientsWallet-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.clientsWallet-header-selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid green; */
}
/* ************************************************ */
/* .clientsWallet-content {
  width: 98%;
  overflow: auto;
  padding: 5px;
  height: 80%;
} */

.clientsWallet-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.clientsWallet-header-content-detail {
  width: 40%;
  text-align: center;
  color: #a4a7be;
  font-size: 11px;
}

.clientsWallet-header-content-item {
  width: 13%;
  color: #a4a7be;
  font-size: 11px;
}

/* **************************** */
div.clientsWallet-content {
  width: 98%;
  height: 80%;
  padding: 5px;
  padding-top: 0px;
  overflow: scroll;
  position: static;
  z-index: 30;
}

.options-container {
  position: absolute;
  right: -222px;
  top: 145px;
  height: 230px;
  width: 220px;
  background: white;
  z-index: 455;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #423994;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: #423994;
}
/* **************************** */

div.clientsWallet-content::-webkit-scrollbar {
  background: #ffffff;
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f4f6fd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px #d2daf4;
}

div.clientsWallet-content:hover::-webkit-scrollbar {
  background: #f4f6fd;
}

/* div.clientsWallet-content > div {
  height: 100%;
} */
