.wallet-card-pie-container {
  width: 290px;
  height: 365px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 6px #0000001c;
  border-radius: 10px;
  opacity: 1;
  background: white;
}

.wallet-card-pie-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: #101010;
  font-family: "Roboto";
  font-size: 24px;
}

.wallet-card-pie-container-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.wallet-card-pie-container-types-option {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  cursor: pointer;
  border: 0.5px solid transparent;
  border-radius: 14px;
  padding: 1px 15px;
  width: 50px;
  text-align: center;
}

.wallet-card-pie-container-types-option.selected {
  border: 0.5px solid #5c9afe;
  border-radius: 14px;
  padding: 1px 15px;
}

.wallet-card-pie-container-statics {
  /* border: 0.5px solid green; */
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
