/* Default Component */
.title {
  font-size: 24px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
  font-size: 16px;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  /* border: 1px solid red; */
}

.paragraph {
  font-size: 14px;
  margin: 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 3px;
}

.text {
  font-size: 14px;
  margin: 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Set Color */
.main {
  color: #737dff;
  /* color: #2d2e8f; */
}

.text {
  color: #4d4f5c;
}

.link {
  color: #5c9afe;
}

.danger {
  color: #ff4141;
}

.success {
  color: #00ffee;
}

.light {
  color: #ffffff;
  font-size: 20px;
}

.no-underline {
  text-decoration: none;
}

.purple {
  color: #423994;
  /* color: #2d2e8f; */
}
