.operate-sub-items-buy-sell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 900px;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.operate-sub-items-buy-sell > div {
  width: 50%;
  height: 100%;
  color: #a4a7be;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto";
  cursor: pointer;
}

.sub-items-buy {
  border-top-left-radius: 10px;
}

.sub-items-sell {
  border-top-right-radius: 10px;
}

.operate-sub-items-buy-sell > div.selected-sub-item {
  background: #737dff;
  color: white;
}
