.custom-input-description {
  /* width: 100%; */
  /* border: 1px solid red; */
  background: transparent;
}

.custom-input-description .label {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  padding-left: 10px;
  margin-bottom: 5px;
}

.custom-input-description .content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
  border: 1px solid #b4b4c6;
  height: 45px;
  background: transparent;
  border-radius: 5px;
}

.custom-input-description .content1 > img {
  width: 5%;
  height: 22px;
  margin: 0 15px;
}
.custom-input-description .content1 > input {
  width: 90%;
  font-size: 16px;
  font-family: "Segoe UI";
  color: #01043b;
  border: none;
  background: transparent;
  outline: none;
}

.custom-input-description .content1 .input::placeholder {
  /* width: 90%; */
  font-style: italic;
  font-family: "Roboto";
  font-size: 16px;
  color: #a6a7c2;
}
