.select-container-clients-wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  width: 100%;
  /* width: 120px; */
  height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
  outline: none;
  vertical-align: middle;
  padding-top: 0px;
  position: relative;
  border: 1px solid #eeeef4;
  color: #423994;
  cursor: pointer;
}

.select-container-clients-wallet-title {
  color: #b1b1c2;
  font-family: cursive;
  padding: 0 10px;
}

.select-options-clients-wallet {
  position: absolute;
  padding: 2px;
  display: none;
  color: #423994;
  font-size: 12px;
  top: 30px;
  right: 0px;
  overflow: hidden;
  transition: all 0.9s;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #423994;
  border-radius: 10px;
  opacity: 1;
  z-index: 500;
}

.select-options-clients-wallet.open-clients-wallet {
  display: block;
}

.select-options.open-clients-wallet {
  display: block;
  margin-top: 8px;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

.option-select-clients-wallet {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
  height: 38px;
  color: #a4a7be;
  outline: none;
  text-align: start;
  z-index: 3000;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
}

.option-select-clients-wallet:hover {
  color: #423994;
  /* color: white;
  background: #423994; */
}

.arrow-invert {
  transform: rotate(180deg);
}
