.operate-dashboard-container-tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: #a4a7be;
  font-size: 14px;
  width: 100%;
}

.operate-dashboard-container-tabs-item {
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 12px;
  font-family: "Roboto";
  padding-top: 15px;
  width: 18%;
  text-align: center;
}

.operate-dashboard-container-tabs-item.optionItemActive {
  color: #737dff;
  border-bottom-color: #737dff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
