.treasury-header-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 1130px;
  height: 38px;
  background: #f4f6fd 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #a4a7be;
  font-size: 12px;
  font-family: "Roboto";
}

.treasury-header-data-container .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.treasury-header-data-container .icon > img {
  cursor: pointer;
}

.treasury-header-data-container > div {
  /* border: 1px solid red; */
  /* width: 100px; */
  text-align: center;
}

.treasury-header-data-container .date {
  width: 75px;
}
.treasury-header-data-container .client {
  width: 200px;
}
.treasury-header-data-container .account {
  width: 110px;
}
.treasury-header-data-container .tLiquida {
  width: 140px;
}
.treasury-header-data-container .detail {
  width: 150px;
}
.treasury-header-data-container .currency {
  width: 110px;
}
.treasury-header-data-container .amount {
  width: 110px;
  color: #a4a7be;
}
.treasury-header-data-container .state {
  width: 130px;
}
