.market-container-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
  width: 98%;
}

/* ************************************************************ */
.market-container-tabs-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 75%;
  height: 130px;
  /* border: 1px solid red; */
  margin-top: 30px;
  margin-bottom: 20px;
}

.market-container-tabs-options-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
  width: 100%;
  height: 48%;
}

.tabs-options-item {
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 10px;
  height: 20px;
  padding-top: 13px;
}

.tabs-options-item.optionItemActive {
  color: #737dff;
  border-bottom-color: #737dff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  opacity: 1;
  position: relative;
  z-index: 5;
}

.market-container-tabs-options-line-divider {
  width: 100%;
  background: #a4a7be;
  height: 1px;
}

.market-container-tabs-options-terms-radios {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: #67698b;
  font-family: "Roboto";
  font-size: 14px;
  width: 70%;
  height: 48%;
}

.market-container-tabs-options-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #67698b;
  font-family: "Roboto";
  font-size: 14px;
  width: 100%;
  height: 40%;
  /* margin-bottom: 10px; */
}

.market-container-tabs-options-radio-term {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 160px; */
  height: 100%;
  /* border: 1px solid green; */
}

.img-radio-term {
  border-radius: 50%;
  cursor: pointer;
}

.img-radio-term.checked {
  background: radial-gradient(blue, rgb(255, 255, 255), rgb(255, 255, 255));
}

/* ************************************************************ */
.market-container-tabs-schedule {
  padding-top: 15px;
  width: 20%;
  height: 100%;
}

.market-container-tabs-schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 95%;
  height: 38px;
  background: #0ab8b2 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 10px;
}
