.detail-fund-especie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 99%;
  padding: 10px;
  opacity: 1;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #0000000f; */
}

/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */

.detail-fund-especie-container .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.detail-fund-especie-container .tabs .option {
  color: #9e9dab;
  font: Regular 14px/25px Roboto;
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 7px;
}

.detail-fund-especie-container .tabs .option.selected {
  color: #737dff;
  border-bottom-color: #737dff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  z-index: 5;
}
/* ******************************************** */
.detail-fund-especie-container .types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #101010;
  font-size: 12px;
  font-family: "Roboto";
  opacity: 0.5;
}

.selected-type {
  border: 1px solid #1858c0;
  border-radius: 14px;
  opacity: 1;
  padding: 1px 12px;
}

/* ******************************************** */
.detail-fund-especie-container .name {
  text-align: left;
  font: Bold 20px/25px Roboto;
  letter-spacing: 0px;
  color: #67698b;
  opacity: 1;
  width: 100%;
  /* border: 1px solid green; */
}

.detail-fund-especie-container .ticker {
}

.detail-fund-especie-container .data {
  font-size: 14px;
}
/* ******************************************** */
.detail-fund-especie-container .statics {
  width: 100%;
  text-align: center;
  font: Regular 10px/25px Roboto;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
}

.detail-fund-especie-container .statics > img {
  width: 95%;
  padding-right: 8px;
}

.detail-fund-especie-container .statics .months {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-size: 10px;
  padding-right: 10px;
}
/* ******************************************** */
.detail-fund-especie-container .data-cotization {
  width: 100%;
}

.data-cotization-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 25px;
}

.data-cotization-element.apply-border-bottom {
  border-bottom-color: #e9e9f0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 30px;
}

.data-cotization-element .description {
  color: #a4a7be;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  opacity: 1;
}

.data-cotization-element .value {
  color: #67698b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  opacity: 1;
}

/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */

.detail-fund-especie-container .portfolio {
  width: 100%;
  height: 150px;
  overflow: auto;
}

.detail-fund-especie-container .portfolio .portfolio-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 30px;
  border-bottom-color: #e9e9f0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.detail-fund-especie-container .portfolio .portfolio-element .point-color {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.detail-fund-especie-container .portfolio .portfolio-element .description {
  font-size: 13px;
  width: 100%;
  padding-left: 10px;
}

.detail-fund-especie-container .portfolio .portfolio-element .percentage {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #4d4f5c;
}

/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
.detail-fund-especie-container .statics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.detail-fund-especie-container .statics .circle-container {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
  background: transparent;
}

.detail-fund-especie-container .statics .corona-interior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: inherit;
  width: inherit;
  color: #423894;
  background: white;
  border-radius: 50%;

  z-index: 5000;
}

.detail-fund-especie-container .statics .corona-interior.big-radio {
  height: 104px;
  width: 104px;
  left: 15%;
  bottom: 15%;
}

.detail-fund-especie-container .statics .corona-interior.small-radio {
  height: 80px;
  width: 80px;
  left: 30%;
  bottom: 30%;
}

.detail-fund-especie-container .statics .corona-interior > div {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.detail-fund-expecie-line-header {
  position: absolute;
  padding-left: 5px;
  top: 36px;
  left: 10px;
  height: 0.5px;
  width: 90%;
  color: #d9daf5;
  background: #d9daf5;
}
