.custom-input-exact-value-container {
  text-align: center;
}

.custom-input-exact-value-container .content {
}

.custom-input-exact-value-container .content > input {
  border: none;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  outline: none;
  width: 235px;
  color: #67698b;
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.custom-input-exact-value-container .label {
  color: #67698b;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
