.movements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 246px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000000f;
  border-radius: 5px;
  padding: 10px;
}
/* ************************************************ */
.movements-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 98%;
  margin-bottom: 10px;
  height: 15%;
}

.movements-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.movements-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* ************************************************ */

div.movements-content {
  width: 98%;
  height: 80%;
  padding: 5px;
  padding-top: 0px;
  overflow: auto;
}

div.movements-content::-webkit-scrollbar {
  background: #ffffff;
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #5771ce;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px #d2daf4;
}

div.movements-content:hover::-webkit-scrollbar {
  background: #f4f6fd;
}

/* div.movements-content > div {
  height: 100%;
} */

/* *************************************************** */
/* *************************************************** */
/* *************************************************** */

.movements-proof-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  top: 5px;
  left: 30%;
  height: 700px;
  width: 600px;
  z-index: 1000;
  background: white;
}

.movements-proof-load-cancel {
  text-align: end;
  width: 95%;
  height: 5%;
  padding-top: 20px;
  padding-right: 15px;
}

.movements-proof-load-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  font-size: 24px;
  color: rgb(106, 101, 101);
  font-weight: 700;
}

.movements-proof-labels {
  font-size: 14px;
  color: #797d8c;
  font-weight: 700;
  padding-left: 7px;
}

.movements-proof-load-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 13%;
}

.movements-proof-load-selects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  height: 12%;
}

.movements-proof-load-selects-coin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.movements-proof-load-selects-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.movements-proof-load-content {
  width: 100%;
  height: 50%;
  border: 1px solid green;
}
