.operate-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 900px;
  padding-top: 25px;
  padding-left: 35px;
  height: 90%;
}
