.card-operation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 161px;
  height: 71px;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #01155729;
  border-radius: 10px;
  border: 2px solid white;
  opacity: 1;
}

.card-operation-container-description {
  color: #67698b;
  font-size: 14px;
}

.card-operation-container-value {
  color: #737dff;
  font-size: 24px;
  font-weight: 700;
}

.nuevas-cuentas {
  background: rgb(252, 252, 252);
}

.operaciones-del-dia {
  background: #dbffe2;
}

.total-de-cuentas {
  background: #e6f0ff;
}

.activation-rate {
  background: #ffd8d8;
}
