.operate-detail-process-container {
  position: absolute;
  top: 118px;
  right: -430px;
  height: 520px;
  width: 400px;
  background: white;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #1127b424;
  opacity: 1;
}

.operate-detail-process-container .detail-process-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.operate-detail-process-container.active-detail-process-card {
  display: block;
}

.horizontal-distribution {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.horizontal-distribution > div {
  width: 50%;
}

.title-detail-process {
  color: #a4a7be;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content-detail-process {
  color: #67698b;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
