.statics-operation-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 175px;
  background: transparent /* url('img/Trazado 2174.png')  */ 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 5px 15px #01155730;
  opacity: 1;
  border-radius: 10px;
}

.statics-operation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30%;
  width: 100%;
  color: #a4a7be;
  font-size: 12px;
}

.statics-operation-header-title {
  color: #a4a7be;
  font-size: 12px;
}

.statics-operation-header-selection {
  color: #67698b;
  font-size: 16px;
  font-weight: 700;
  width: 60px;
  border: 1px solid #eeeef4;
  text-align: center;
  /* box-shadow: 0px 5px 15px #01155730; */
  border-radius: 5px;
}

.statics-operation-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  width: 100%;
}

/* ******************************************************* */
.static-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.static-value-container-colors {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  height: 60%;
  /* border: 1px solid pink; */
}

.static-value-container-value {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 20%;
  color: #67698b;
  font-size: 16px;
  font-weight: 700;
  /* border: 1px solid red; */
}

.static-value-container-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 20%;
  /* border: 1px solid green; */
}
