.input-text-line-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom-color: #eeeef4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 27px;
}

.img-input-text-search {
  width: 15px;
  margin: 0 9px;
}

.input-text-line-search {
  font-size: 16px;
  font-family: "Segoe UI";
  color: #01043b;
  border: none;
  outline: none;
}

.input-text-line-search::placeholder {
  font-style: italic;
  font-family: "Segoe UI";
  font-size: 16px;
  color: #a6a7c2;
}

.input--small {
  width: 100px;
}

.input--medium {
  width: 200px;
}

.input--large {
  width: 400px;
}
