.custom--select--description {
  position: relative;
  width: 100%;
}

.custom--select--description .label {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.custom--select--description .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  outline: none;
  vertical-align: middle;
  padding-top: 0px;
  position: relative;
  border: 1px solid #b4b4c6;
  color: #423994;
  cursor: pointer;
}

.custom--select--description .button > div {
  width: 80%;
}

.custom--select--description .button .title {
  color: #b1b1c2;
  font-family: cursive;
  padding: 0 10px;
  font-size: 16px;
}

.custom--select--description .options {
  position: absolute;
  top: 61px;
  padding: 2px;
  display: none;
  width: inherit;
  height: 195px;
  color: #423994;
  border: 1px solid #423994;
  transition: all 0.9s;
}

.custom--select--description .options.open {
  display: block;
  margin-top: 8px;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

/* .option-select-movements-proof {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  padding-left: 15px;
  height: 25%;
  cursor: pointer;
  color: #423994;
  outline: none;
  text-align: start;
} */

.optcustom--select--description .options .item:hover {
  color: white;
  background: #423994;
}

.arrow-invert {
  transform: rotate(180deg);
}
