.treasury-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 520px;
  width: 100%;
  overflow: auto;
}

.treasury-data-container::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.treasury-data-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.treasury-data-container:hover::-webkit-scrollbar {
  background: transparent;
}

.treasury-data-container .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 99%;
  font-size: 14px;
  font-family: "Roboto";
  /* border: 1px solid red; */
}

.treasury-data-container .element.gray-row {
  background: #f4f6fd;
}

.treasury-data-container .element > div {
  /* width: 110px; */
  line-height: 40px;
  text-align: center;
  /* border: 1px solid green; */
}

.treasury-data-container .element .date {
  color: #101010;
  font-size: 14px;
  font-family: "Roboto";
}

.treasury-data-container .element .client {
  width: 210px;
}

.treasury-data-container .element .account {
  width: 95px;
}

.treasury-data-container .element .tLiquida {
  width: 155px;
}

.treasury-data-container .element .detail {
  width: 140px;
}

.treasury-data-container .element .currency {
  width: 115px;
}

.treasury-data-container .element .amount {
  width: 110px;
}

.treasury-data-container .element .state {
  width: 130px;
}

.treasury-data-container .element .normal-letter {
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
}

.treasury-data-container .element .strong-letter {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
}

.treasury-data-container .element .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70px;
}

.treasury-data-container .element .actions > img {
  cursor: pointer;
}

.treasury-data-container .element .actions .inactive {
  pointer-events: none;
  opacity: 0.4;
  cursor: none;
}
