.movement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f4f6fd;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.movement-item-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  width: 25%;
  height: 30px;
  font-size: 14px;
  color: #67698b;
}

.movement-item-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: start;
  width: 23%;
  height: 30px;
  font-size: 12px;
  margin-right: 15px;
}

.movement-item-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  width: 25%;
  height: 30px;
  font-size: 12px;
}

.movement-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.movement-img {
  text-align: start;
  width: 14px;
  height: 18px;
}

.grayStyle {
  color: #a4a7be;
}

.schedule {
  /* border: 1px solid red; */
}

.amount {
  color: #67698b;
}
