.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
}

/* .main-container.openBlur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
} */

.first-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.3s;
}

.first-container.expanded1 {
  min-width: 275px;
}

.second-container {
  width: 100%;
  height: 100vh;
}

/* ************************************ */
.blur-view-container {
  position: absolute;
  left: 0;
  top: 0;

  opacity: 0.5;
  display: none;
  z-index: 300;
  transition: all 1.5s;
}

.blur-view-container.openProtectorBlur {
  display: block;
  position: fixed;
  /* -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px); */

  background-color: rgba(0, 17, 255, 0.5);

  /* -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3rem); */

  /* clip: rect(0, 250px, 125px, 0); */

  height: 100%;
  width: 100%;
  z-index: 1000;
}

/* .main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.first-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.3s;
}

.first-container.expanded1 {
  min-width: 275px;
}

.second-container {
  width: 100%;
  height: 100vh;
} */
