.market-container-instruments {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 580px;
  /* width: 1500px; */
  width: 98%;
}

.market-container-instruments-data-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  background: white;
  border-radius: 10px;
  width: 930px;
}

/* ************************************************************ */

.market-container-instruments-data-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  height: 75px;
}

.market-container-instruments-data-table-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 26px;
  font-weight: 700;
  color: #423894;
  font-family: "Roboto";
}

.market-container-instruments-central-selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 610px;
}

.market-container-instruments-data-table-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.market-container-instruments-data-table-header > div {
  line-height: 40px;
}

.market-container-instruments-img-icon {
  cursor: pointer;
}

.market-container-instruments-data-table-line {
  width: 97%;
  height: 3px;
  background: #423894;
}

.market-container-instruments-data-table-column-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background: #f4f6fd;
  width: 900px;
  height: 45px;
  border-radius: 10px;

  color: #a4a7be;
  font-size: 12px;
  font-family: "Roboto";
}

.market-container-instruments-data-table-column-header .ticker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.market-container-instruments-data-table-column-header
  .ticker-container-search {
  position: absolute;
  left: 25px;
  top: 40px;
  display: none;
  width: 218px;
  height: 178px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #423994;
  border-radius: 10px;
  opacity: 1;
}

.market-container-instruments-data-table-column-header
  .ticker-container-search
  .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
  width: 95%;
  height: 43px;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  text-align: left;
}

.market-container-instruments-data-table-column-header
  .ticker-container-search
  .element:hover {
  color: #737dff;
  cursor: pointer;
}

.market-container-instruments-data-table-column-header
  .ticker-container-search.open-ticker {
  display: block;
}

.market-container-instruments-data-table-users {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.market-container-instruments-data-table-column-header .fondo-clase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.market-container-instruments-data-table-column-header .clase-container-search {
  position: absolute;
  left: 135px;
  top: 40px;
  display: none;
  width: 218px;
  height: 134px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #423994;
  border-radius: 10px;
  opacity: 1;
}

.market-container-instruments-data-table-column-header
  .clase-container-search
  .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
  width: 95%;
  height: 43px;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  text-align: left;
}

.market-container-instruments-data-table-column-header
  .clase-container-search
  .element:hover {
  color: #737dff;
  cursor: pointer;
}

.market-container-instruments-data-table-column-header
  .clase-container-search.open-clase {
  display: block;
}

.market-container-instruments-data-table-users > div {
  text-align: left;
}

.market-container-instruments-data-table-user-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 45px;
  width: 98%;

  font-size: 18px;
  font-family: "Roboto";
  border-bottom-color: #cecece;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  margin-left: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}

.market-container-instruments-data-table-user-detail:active {
  background: #b3b7f5;
}

.market-container-instruments-data-table-user-detail .name {
  width: 15%;
  text-align: left;
  padding-left: 10px;
}

.market-container-instruments-data-table-user-detail .values {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  color: #989aae;
  font-family: "Roboto";
}

.market-container-instruments-data-table-user-detail .operar {
  color: rgb(61, 150, 245);
  border-bottom-color: rgb(61, 150, 245);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Roboto";
}

.market-container-instruments-data-user {
  position: relative;
  width: 312px;
  opacity: 1;
  border-radius: 10px;
  /* border: 1px solid green; */
}

.market-container-instruments-data-user .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 285px;
  height: 75px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 10px;
  opacity: 1;
  padding: 13px;
}

.market-container-instruments-data-user .header .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.market-container-instruments-data-user .header .info .iconSetting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.market-container-instruments-data-user .header .info .details {
  width: 80%;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0px;
  color: #0ab8b2;
  opacity: 1;
}

.market-container-instruments-data-user .header .info .details .letra-chica {
  font-size: 12px;
  font-family: "Roboto";
  color: #a4a7be;
  opacity: 1;
}

.market-container-instruments-data-user .header .operate-instrument {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: 0px;
  color: #737dff;
  opacity: 1;
}
