.operate-table-edit-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #737dff;
  width: 900px;
  max-width: 900px;
  background: white;
}

.operate-table-edit-group-container .main {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 880px;
  background: #0055ff29;
  border-radius: 10px;
}

.operate-table-edit-group-container .main .text {
  color: #2d2e8f;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto";
  font-size: 13px;
  text-align: left;
  width: 440px;
  padding-left: 10px;
}
