.treasury-tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 60px;
  width: 100%;
}

.treasury-tabs-container .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #9e9dab;
  font-size: 13px;
  font-family: "Roboto";
  text-align: center;
  cursor: pointer;
  height: 25px;
  padding-bottom: 10px;
}

.treasury-tabs-container .option.selected {
  color: #737dff;
  border-bottom-color: #737dff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  z-index: 5;
}

.treasury-tabs-container .line {
  position: absolute;
  top: 47px;
  left: 0;
  height: 0.5px;
  width: 100%;

  text-align: center;
  background: #cacde6;
}
