.operate-dashboard-container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 125px;
  width: 900px;
  font-family: "Roboto";
  /* font-size: 13px; */
  background: #737dff;
  text-align: left;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
}

.operate-dashboard-container-footer-totals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 134px;
  width: 100%;
  height: 40px;
}

.operate-dashboard-container-footer-totals .title-total {
  font-size: 14px;
  font-family: "Roboto";
  font-style: italic;
}

.operate-dashboard-container-footer-totals .numbers-total {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}

.operate-dashboard-container-footer-totals .total-quantity-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
  color: black;
}

.operate-dashboard-container-footer-totals .total-limit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 35px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 18px;
}

.operate-dashboard-container-footer-confirm-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 396px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 0.4;
  color: #737dff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
}

.operate-dashboard-container-footer-confirm-btn.active-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #423994;
  border-radius: 20px;
  opacity: 1;
  color: #423994;
  cursor: pointer;
}

.operate-dashboard-container-footer-confirm-btn.active-button:active {
  border: none;
}
