.select--simple--container {
  width: 220px;
  position: relative;
}

.select--simple--container--title {
  color: #b6b4d9;
  font-size: 12px;
  font-family: "Roboto";
  margin-bottom: 2px;
}

.select--simple--container--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 29px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #0000000d;
  border: 1px solid #d7dae2;
  outline: none;
  border-radius: 4px;
  opacity: 1;
}

.select--simple--container--button--description {
  color: #4d4f5c;
  font-size: 12px;
  font-family: "Roboto";
  padding-left: 5px;
}

.select--simple--container--options {
  position: absolute;
  color: #423994;
  top: 45px;
  left: 1px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #423994;
  border-radius: 5px;
  opacity: 1;
  z-index: 500;
  display: none;
  width: calc(100% - 15px);
}

.select--simple--container--options.open--ssc--options {
  display: block;
}

.select--simple--container--options--item {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
  height: 35px;
  color: #a4a7be;
  outline: none;
  text-align: start;
  z-index: 3000;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  font-size: 14px;
  font-family: "Roboto";
}

.select--simple--container--options--item:hover {
  color: #423994;
  /* background: #423994; */
}

/* .select--simple--container--title {
  color: #b1b1c2;
  font-family: cursive;
  padding: 0 10px;
}

.select--simple--container--options {
  position: absolute;
  padding: 2px;
  display: none;
  color: #423994;
  font-size: 12px;
  top: 30px;
  right: 0px;
  overflow: hidden;
  transition: all 0.9s;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #423994;
  border-radius: 10px;
  opacity: 1;
  z-index: 500;
  width: inherit;
}

.select--simple--container--options.open--ssc--options {
  display: block;
} */

/* .select-options.open-clients-wallet {
  display: block;
  margin-top: 8px;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 5px;
} */

/* .select--simple--container--options--item {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
  height: 38px;
  color: #a4a7be;
  outline: none;
  text-align: start;
  z-index: 3000;
  border-bottom-color: #a4a7be;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
} */

/* .select--simple--container--options--item:hover {
  color: #423994;
  color: white;
  background: #423994;
} */

.arrow-invert {
  /* transform: rotate(180deg); */
}
