.rodrigo-pie-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  /* border: 0.5px solid green; */
}

.rodrigo-my-circle-container {
  border: 1px solid rgb(242, 240, 244);
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
}

.rodrigo-corona-interna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: inherit;
  width: inherit;
  color: #423894;
  background: #ffffff;
  border-radius: 50%;
  z-index: 5000;
}

.rodrigo-corona-interna > div {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.rodrigo-perc-element {
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Roboto";
  position: absolute;
  height: inherit;
  width: inherit;
}
