.recommendedWallets-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  width: 700px;
  height: 246px;
  background: #fcfafa 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000000f;
  border-radius: 10px;
  padding: 10px;
}
