.wallet-header-data-container {
  display: grid;
  grid-template-columns: 120px 90px 60px 70px 70px 100px 90px 100px;
  width: 810px;
  height: 46px;
  background: #f4f6fd 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.8;
}

.wallet-header-data-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Roboto";
  color: #a4a7be;
  opacity: 1;
  padding-top: 10px;
}

.wallet-header-data-container .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wallet-header-data-container .icon > img {
  cursor: pointer;
}

.wallet-header-data-container > div {
  /* border: 1px solid red; */
  /* width: 100px; */
  text-align: center;
}

.wallet-header-data-container .date {
  width: 75px;
}
.wallet-header-data-container .client {
  width: 200px;
}
.wallet-header-data-container .account {
  width: 110px;
}
.wallet-header-data-container .tLiquida {
  width: 140px;
}
.wallet-header-data-container .detail {
  width: 150px;
}
.wallet-header-data-container .currency {
  width: 110px;
}
.wallet-header-data-container .amount {
  width: 110px;
  color: #a4a7be;
}
.wallet-header-data-container .state {
  width: 130px;
}
