.wallet-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* height: 520px; */
  width: 100%;
  overflow: auto;
}

.wallet-data-container .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 99%;
  font-size: 14px;
  font-family: "Roboto";
}

.wallet-data-container .element.gray-row {
  background: #f4f6fd;
}

.wallet-data-container .element > div {
  line-height: 40px;
  text-align: center;
}

.wallet-data-container .element .date {
  color: #101010;
  font-size: 14px;
  font-family: "Roboto";
}

.wallet-data-container .element .client {
  width: 100px;
}

.wallet-data-container .element .account {
  width: 80px;
}

.wallet-data-container .element .detail {
  width: 80px;
}

.wallet-data-container .element .currency {
  width: 115px;
}

.wallet-data-container .element .amount {
  width: 110px;
}

.wallet-data-container .element .state {
  width: 130px;
}

.wallet-data-container .element .normal-letter {
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
}

.wallet-data-container .element .strong-letter {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
}

.wallet-data-container .element .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70px;
}

.wallet-data-container .element .actions > img {
  cursor: pointer;
}

.wallet-data-container .element .actions .inactive {
  pointer-events: none;
  opacity: 0.4;
  cursor: none;
}
