.operations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 700px;
  height: 246px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000000f;
  border-radius: 5px;
  padding: 10px;
}
/* ************************************************ */
.operations-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  height: 20%;
}

.operations-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  width: 60%;
}

.operations-header-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.operations-header-selection > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.label-select {
  height: 19px;
  width: 120px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #423994;
  font-size: 14px;
}

/* ************************************************ */
.operations-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  height: 80%;
}

.operations-content-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(20px, auto);
  height: 100%;
  width: 50%;
}

.operations-content-statics {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
