.divider {
  /* background: rgb(0, 238, 255); */
}

.XXS {
  height: 4px;
  width: 4px;
}

.XS {
  height: 8px;
  width: 8px;
}

.S {
  height: 12px;
  width: 12px;
}

.M {
  height: 16px;
  width: 16px;
}

.L {
  height: 24px;
  width: 24px;
}

.X {
  height: 32px;
  width: 32px;
}

.XL {
  height: 10px;
  width: 38px;
}

.XXL {
  height: 48px;
  width: 48px;
}

.XXXL {
  height: 64px;
  width: 64px;
}

.XXXXL {
  height: 96px;
  width: 96px;
}
