:root {
  --green: #0ab8b2;
  --red: #e80451;
  --hover1: #e7ebf8;
  --default: #0056ff;
  --default: #423994;
  --white: #fff;
  --black1: #67698b;
}

.card--footer--portfolio {
  padding: 5px;
  height: 40px;
  /* width: 210px; */
  width: 30%;
  border-radius: 5px;
}

.card--footer--portfolio--green {
  background: var(--green);
  color: var(--white);
}

.card--footer--portfolio--red {
  background: var(--red);
  color: var(--white);
}

.card--footer--portfolio--hover {
  background: var(--hover1);
  color: var(--black1);
}

.card-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  /* border: 1px solid purple; */
}

.card-profile-description {
  text-align: left;
  /* border: 1px solid green; */
  padding-bottom: 7px;
  width: 40%;
}

.card-profile-amount {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
  width: 60%;
  height: 40px;

  text-align: right;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Roboto";
  font-weight: 600;
  /* border: 1px solid red; */
}
.avoid-view {
  color: transparent;
  background: transparent;
}
