.input-text-clients-wallet-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #eeeef4;
  height: 27px;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

.img-input-text {
  width: 15px;
  margin: 0 9px;
}

.input-text-clients-wallet {
  font-size: 16px;
  font-family: "Segoe UI";
  color: #01043b;
  border: none;
  outline: none;
}

.input-text-clients-wallet::placeholder {
  font-style: italic;
  font-family: "Segoe UI";
  font-size: 16px;
  color: #a6a7c2;
}

.input--small {
  width: 100px;
}

.input--medium {
  width: 200px;
}

.input--large--10 {
  width: 250px;
}
