.treasury-dashboard-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  height: 30px;
  line-height: 100%;
}

.treasury-dashboard-container-header .title {
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.treasury-dashboard-container-header .referCode {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #737dff;
}
