.user-profile-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 400;
  top: 66px;
  right: 16px;
  height: 815px;
  width: 670px;
  display: none;
  transition: all 0.3s;
  background: #ffffff;
  border-radius: 5px;
  /* box-shadow: 0px 0px 2px 2px rgb(236, 240, 248); */
}

.user-profile-view-container.openProfileView {
  display: inline;
}

/* ************************************************ */
.user-profile-view-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
  /* border: 1px solid red; */
}

.user-profile-view-container-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 90%;
  /* border: 1px solid green; */
  padding-top: 10px;
}

.user-profile-view-container-header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 85%;
  height: 80%;
  /* border: 1px solid blue; */
  padding-top: 10px;
}

.user-profile-view-container-header-info-name {
  color: #67698b;
  font-size: 16px;
  font-weight: bold;
}

.user-profile-view-container-header-info-email {
  color: #5c9afe;
  font-size: 16px;
}

.user-profile-view-container-header-info-codRef {
  color: #67698b;
  font-size: 14px;
}

.user-profile-view-container-header-info > p {
  width: 100%;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.user-profile-view-container-personal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.user-profile-view-container-personal-data-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.section-title-user-profile {
  text-align: start;
  font-weight: 600;
  width: 90%;
  font-size: 14px;
}

.section-title-user-profile-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  /* height: 100%; */
  /* border: 1px solid green; */
}

.section-title-user-profile-numbers > div {
  width: 29.5%;
}

.section-title-user-profile-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.section-title-user-profile-location-loc {
  width: 70%;
}

.section-title-user-profile-location-cp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.user-profile-view-container-personal-data-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.confirm-section-personal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 97.7%;
  height: 5%;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.user-profile-view-container-transaction-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.user-profile-view-container-transaction-data-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.transaction-data-payment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 90%;
}

.transaction-data-payment-add-cbu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 90%;
}

.transaction-data-payment-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 50%;
}

.add-new-cbu-option {
  margin-right: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

/* .tooltip-add-cbu {
  position: absolute;
  bottom: 10px;
  left: 75px;
  height: 70px;
  width: 130px;
  background: tomato;
} */

.tooltip-add-cbu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  left: 9px;
  width: 245px;
  height: 85px;
  background: rgb(255, 255, 255);
  position: absolute;
  border: 1px solid #a4a7be;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  padding: 0 10px;
}

.tooltip-add-cbu > p {
  color: #4d4f5c;
  font-size: 14px;
  margin: 0 auto;
}

.add-new-cbu-option.inactive {
  color: gray;
  cursor: none;
  pointer-events: none;
}

.transaction-data-payment-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 15%;
  width: 50%;
}

.transaction-data-payment-list-cbu {
  height: 70%;
  width: 90%;
  overflow: auto;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.user-profile-view-container-transaction-data-billing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.user-profile-view-container-transaction-data-billing.billingInactive {
  pointer-events: none;
  opacity: 0.5;
}

.transaction-data-payment-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 90%;
}

.transaction-data-payment-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 42%;
}

.confirm-section-payment-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  height: 15%;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */

.cbu-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.cbu-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.divider-line-black {
  height: 0.5px;
  width: 100%;
  background: rgb(218, 205, 205);
}

.cbu-account-container-radio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 10%;
  height: 100%;
}

.img-radio-account {
  border-radius: 50%;
}

.img-radio-account.primary {
  background: radial-gradient(blue, rgb(255, 255, 255), rgb(255, 255, 255));
}

.cbu-account-container-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
}

.cbu-account-container-data-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}

.cbu-account-container-data-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.data-options-cbu-value {
  text-align: left;
}

.data-options-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.data-options-icons > img {
  cursor: pointer;
}

.cbu-account-container-data-options > img {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.section-title-user-profile-payment {
  text-align: start;
  font-weight: 600;
  width: 60%;
  font-size: 14px;
}
