.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 100%;
  background: #423894;
}

/* ****************************************** */

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.portfolio-content-tenencia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  width: 33%;
  height: 100%;
  color: #a4a7be;
}

.content-porcentual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
}

/* ****************************************** */
.navbar-user-full-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #f4f6fd;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.8px;
  height: 20px;
  width: 140px;
  /* font-family: "Roboto"; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid green; */
}

.lds-ellipsis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 44px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 44px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 68px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 92px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.navbar-user-full-name.loading-user-information {
  background: #f4f6fd;
}
/* ****************************************** */

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 75%;
}

.icon-right-container {
  cursor: pointer;
  transition: all 0.3s;
}

.icon-right-container.open-profile-view {
  transform: rotate(180deg);
}

.divider-navbar {
  height: 25px;
  width: 1px;
  background: #d6d6d6;
  color: #d6d6d6;
  padding-bottom: 3px;
}

/* .navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 100%;
  background: #423894;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.portfolio-content-tenencia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  width: 33%;
  height: 100%;
  color: #a4a7be;
}

.content-porcentual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 75%;
}

.icon-right-container {
  margin-right: 25px;
  cursor: pointer;
}

.divider-navbar {
  height: 25px;
  width: 1px;
  background: #d6d6d6;
  color: #d6d6d6;
  padding-bottom: 3px;
} */
