.select-billing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  width: 125px;
  height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
  outline: none;
  vertical-align: middle;
  padding-top: 0px;
  position: relative;
  border: 1px solid #423994;
  color: #423994;
  cursor: pointer;
}

.select-billing-options {
  position: absolute;
  top: 565px;
  padding: 2px;
  right: 14px;
  display: none;
  width: 205px;
  height: 195px;
  color: #423994;
  border: 1px solid #423994;
  transition: all 0.9s;
}

.select-billing-options.open-billing {
  display: block;
  margin-top: 8px;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

.option-billing {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  padding-left: 15px;
  height: 25%;
  cursor: pointer;
  color: #423994;
  outline: none;
  text-align: start;
}

.option-billing:hover {
  color: white;
  background: #423994;
}

.arrow-invert {
  transform: rotate(180deg);
}
