.team-dashboard-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 830px;
  height: 100vh;
  opacity: 1;
  padding: 10px;
}

/* ********************************************** */
.team-dashboard-container-right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
}

/* ********************************************** */
.team-dashboard-container-right-selections {
  display: grid;
  grid-template-columns: 360px 220px 210px;
  grid-template-rows: 50px;
  align-items: flex-end;
  justify-content: flex-end;
}

.team-dashboard-container-right-selections-title {
  color: var(--unnamed-color-737dff);
  text-align: left;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: #737dff;
}

/* ********************************************** */
.team-dashboard-container-right-static-charts {
  display: grid;
  grid-template-columns: 590px 190px;
  height: 381px;
}
.team-dashboard-container-right-static-charts > div {
  border: 0.5px solid green;
}
/* ********************************************** */
