.operate-detail-especie2-container {
  background: transparent;
  border-radius: 10px;
  opacity: 1;

  padding: 10px;
  width: 290px;
  opacity: 1;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
}

.operate-detail-especie2-container .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.operate-detail-especie2-container .tabs .option {
  color: #9e9dab;
  font: Regular 14px/25px Roboto;
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 7px;
}

.operate-detail-especie2-container .tabs .option.selected {
  color: #737dff;
  border-bottom-color: #737dff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  z-index: 5;
}

.operate-detail-especie2-container.active-detail-card {
  display: block;
}

/* ****************************************************** */
.operate-detail-especie2-container .detail-especie2-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.operate-detail-especie2-container .title {
  color: #67698b;
  font-family: "Roboto";
  font-size: 24px;
  opacity: 1;
  width: inherit;
}
.operate-detail-especie2-container .title2 {
  color: #67698b;
  font-family: "Roboto";
  font-size: 12px;
  opacity: 1;
  width: inherit;
}

.operate-detail-especie2-container .detail-especie2-info .statics {
  width: 100%;
  text-align: center;
  font: Regular 10px/25px Roboto;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
}

.operate-detail-especie2-container .detail-especie2-info .statics > img {
  width: 95%;
  padding-right: 15px;
}

.operate-detail-especie2-container .detail-especie2-info .statics .months {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-size: 10px;
}

/* ****************************************************** */
.operate-detail-especie2-container .detail-especie2-info .mini-gray-card2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.operate-detail-especie2-container
  .detail-especie2-info
  .mini-gray-card2
  > div {
  height: 72px;
  width: 134px;
  background: #f0f3fa;
  border-radius: 10px;
  opacity: 1;
  margin-right: 15px;
}

.mini-gray-card2 .result-mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mini-gray-card2 .result-mini-card .title {
  text-align: center;
  font: "Roboto";
  letter-spacing: 0px;
  color: #4d4f5c;
  opacity: 0.8;
  font-size: 14px;
}

.mini-gray-card2 .result-mini-card .value {
  text-align: center;
  font: Bold 26px/32px Roboto;
  letter-spacing: 0px;
  color: #737dff;
  opacity: 0.8;
}

.detail-especie2-info .data {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.detail-especie2-info .data .element-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.detail-especie2-info .data .element-data .field {
  color: #a4a7be;
  font-size: 14px;
}

.detail-especie2-info .data .element-data .value {
  color: #4d4f5c;
  font-size: 14px;
}

.detail-especie2-info .horizontal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  height: 25px;
  background: #f0f3fa;
  color: #a4a7be;
  border-radius: 10px;
  font-size: 10px;
}

.detail-especie2-info .data-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  color: black;
  font-size: 16px;
  opacity: 0.6;
}

.detail-especie2-info .data-color > div {
  width: 36%;
  border-radius: 10px;
  padding: 0 10px;
}

.detail-especie2-info .data-color .data-color-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  font-size: 12px;
}

.btn-operate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}
