.recommendedWallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  height: 100%;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
/* ******************************** */
.recommendedWallet-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  width: 90%;
  height: 20%;
}
/* ******************************** */
.recommendedWallet-card-sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 10%;
  font-size: 14px;
  font-weight: 200;
  /* position: relative; */
  color: #67698b;
  text-align: left;
}
/* ******************************** */
.recommendedWallet-card-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 65%;
  font-size: 16px;
  font-weight: 600;
  /* position: relative; */
  color: #737dff;
}

.recommendedWallet-card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #737dff;
  text-align: left;
}
/* ******************************** */
.recommendedWallet-card-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}
/* ******************************** */
.recommendedWallet-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  background: #737dff;
  font-size: 12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  cursor: pointer;
}

/* **************************************** */
/* **************************************** */
/* **************************************** */

.recommendedWallet-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 700px;
  width: 780px;

  background: #fff;
  top: 25px;
  left: 25%;
  display: none;
  transition: all 0.3s;
  z-index: 1500;
  border: 1px solid #a4a7be;
  border-radius: 15px;
}

.recommendedWallet-card-details.open-card-details {
  display: block;
  z-index: 3000;
}

/* .recommendedWallet-card-content-details {
  height: 800px;
  width: 780px;
  background: #fff;
} */

.recommendedWallet-card-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 20px 25px;
}

.recommendedWallet-card-details-header > img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 5px;
}

.recommendedWallet-card-details-header > img:hover {
  background: rgb(244, 241, 241);
  border-radius: 50px;
}

.recommendedWallet-card-details-header-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 71px;
}

.recommendedWallet-selected-tab {
  cursor: pointer;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s;
}

.recommendedWallet-selected-tab.open-tab {
  color: blue;
  border-bottom-color: blue;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.recommendedWallet-card-details-line-divider {
  height: 1.5px;
  background: #e9e9f0;
  width: 88%;
  margin-left: 20px;
}

.recommendedWallet-card-details-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  height: 80px;
  /* line-height: 80px; */
  width: 90%;
  font-size: 18px;
  margin-left: 30px;
  color: rgb(25, 61, 225);
  font-family: "Roboto";
}

.recommendedWallet-card-details-statics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 480px;
}

.recommendedWallet-card-details-statics > div {
  width: 380px;
}

.recommendedWallet-card-details-statics-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
}

.recommendedWallet-card-details-btn-operar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-arreglar {
  width: 200px;
}

/* ****************************** */
/* ****************************** */
/* ****************************** */

.pie-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.my-circle-container {
  height: 300px;
  width: 300px;
  border: 7px solid rgb(242, 240, 244);
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
}

.corona-interna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: inherit;
  width: inherit;
  color: #423894;
  background: white;
  border-radius: 50%;

  z-index: 5000;
}

.corona-interna.big-radio {
  height: 210px;
  width: 210px;
  left: 15%;
  bottom: 15%;
}

.corona-interna.small-radio {
  height: 120px;
  width: 120px;
  left: 30%;
  bottom: 30%;
}

.corona-interna > div {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.perc-element {
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Roboto";
  padding: 0px -20px;
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 1;
  border-radius: 10%;
  transition: all 0.3s;
}

.perc-element.animate-element {
  opacity: 0.2;
}

.satelite-item {
  position: static;
  height: 1200px;
  width: 1200px;
  background: rgb(209, 27, 27);
  /* border-radius: 50%; */
  left: 45%;
  bottom: 45%;
  z-index: 8500;
}

.number-value-loco {
  transform: rotate(15deg);
  color: white;
  padding-left: 90px;
  padding-top: 10px;
}

.recommendedWallet-card-details-statics-list-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 90%;
  padding-top: 20px;
}

.recommendedWallet-card-details-statics-list-content .title {
  font-size: 24px;
  font-family: "Roboto";
  color: #737dff;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 10%;
}

.recommendedWallet-card-details-statics-list-content .subtitle {
  font-size: 14px;
  font-family: "Roboto";
  color: #243042;
  width: 95%;
  height: 10%;
}

.recommendedWallet-card-details-statics-list-content-data {
  overflow: auto;
  width: 95%;
}

.recommendedWallet-card-details-statics-list-content-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgb(36, 34, 34);
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Roboto";
  border-bottom-color: #cecece;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 12px;
}

.img-radio-term-wallet {
  width: 41px;
  height: 8px;
}

.img-radio-term-wallet-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-radio-term-wallet-description {
  color: #67698b;
  font-size: 16px;
  font-family: "Roboto";
}

.img-radio-term-wallet-percentage {
  color: #67698b;
  font-size: 18px;
  font-family: "Roboto";
  text-align: right;
  width: 80px;
}
