.clientWallet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #67698b;
  overflow: hidden;
  transition: all 0.3s;
  /* position: static; */
  height: 35px;
  border: 1px solid rgb(111, 183, 238);
  border-style: none;
}

.clientWallet-container.expandClient {
  height: 110px;
  /* border: 1px solid blue; */
  border-style: solid;
  border-radius: 0px;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
}

/* ************************************************ */

.clientWallet-items-first {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* position: relative; */
  width: 100%;
}

.clientWallet-items-first.expandClient {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* justify-content: center; */
  width: 100%;
}

.arrowIcon {
  margin-right: 10px;
}
.arrowIcon.invertArrow {
  transform: rotate(180deg);
}

/* ************************************************ */

.clientWallet-item-fullname {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  padding-left: 10px;
  width: 40%;
  height: 30px;
  font-size: 12px;
  color: #a4a7be;
  border: 1px solid #a4a7be;
  margin: 0px 3px;
  border-style: solid;
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

.clientWallet-item-data-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 13%;
  height: 30px;
  font-size: 12px;
  color: #a4a7be;
  border: 1px solid #a4a7be;
  margin: 0px 3px;
  border-style: solid;
  border-radius: 0px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

.clientWallet-item-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* position: relative; */
  width: 5%;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  /* z-index: 20; */
  box-shadow: 0px 0px 5px 2px rgb(203, 214, 237);
  opacity: 1;
}

/* .clientWallet-item-action > figure {
  background: tomato;
  width: 100%;
} */

.clientWallet-item-action > div {
  position: absolute;
  right: -222px;
  top: 145px;
  height: 230px;
  width: 220px;
  background: white;
  z-index: 455;
  opacity: 1;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #423994;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: #423994;
}

.option-container.style-border {
  border-bottom-color: #67698b;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

.option-container:hover {
  color: white;
  background: #423994;
}

.clientWallet-item-action:active {
  box-shadow: 0px 0px 0px 0px;
}

/* ************************************************ */

.clientWallet-items-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90px;
  margin: 0 auto;
}

.items-second-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  width: 35%;
  height: 95%;
}

.items-second-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(231, 156, 187); */
  width: 30%;
  height: 95%;
}

/* ****************************************************** */
/* .items-second-graphics {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  width: 120px;
  height: 60px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  background: linear-gradient(
    to right,
    rgb(102, 233, 231),
    rgba(218, 1, 75, 1)
  );
  overflow: hidden;
} */
.items-second-graphics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.items-second-graphics-limits {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 8px;
  color: #a4a7be;
}

.items-second-graphics {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0 3px;
  width: 120px;
  height: 60px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  background: linear-gradient(
    to right,
    rgb(102, 233, 231),
    rgba(218, 1, 75, 1)
  );
  overflow: hidden;
}

.items-second-graphics-internal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 70%;
  width: 85px;
  height: 85px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.items-second-graphics-quality {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 7px;
  width: 100%;
  /* background: #6ecbdc; */
  color: #a4a7be;
  padding-right: 15px;
}

/* .items-second-graphics-internal.lower {
  transform: rotate(-60deg);
}

.items-second-graphics-internal.bigger {
  transform: rotate(60deg);
} */

.cursor-graphics {
  width: 2px;
  height: 80px;
  background: #bcbdcb;
}

/* ****************************************************** */
.items-second-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid rgb(0, 123, 255); */
  width: 15%;
  height: 95%;
}

.clientWallet-item-data-2 {
  width: 100%;
  text-align: start;
  font-size: 11px;
  letter-spacing: 1px;
  color: #a4a7be;
  margin-bottom: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
}
/* .clientWallet-items-second.expandClient {
  visibility: visible;
} */

/* .clientWallet-img {
  text-align: start;
  width: 14px;
  height: 18px;
}

.grayStyle {
  color: #a4a7be;
} */
