.latest-container-new {
  /* display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none; */
}

.latest-container-new-image {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  height: 100%;
  width: 20%;
  border: 1px solid green;*/
}

.latest-container-new-info {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  border: 1px solid blue; */
}

/* .latest-new-container-image > div {
  position: absolute;
  left: 49%;
  height: 100%;
  width: 1.6px;
  background: #c8d9f0;
  z-index: -1;
} */

/* .latest-new-container-image > img {
  height: 38px;
  width: 38px;
}

.latest-new-container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 90%;
}

.latest-new-container-description-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  width: 100%;
  color: #67698b;
  font-size: 16px;
  font-weight: 600;
}

.latest-new-container-description-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  width: 100%;
  color: #a4a7be;
  font-size: 13px;
} */
