.custom--modal--reasignar--cartera--container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(32, 29, 135, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: 6000;
  display: none;
}

.custom--modal--reasignar--cartera--container.open--modal--reasignar {
  display: block;
}

.custom--modal--reasignar--cartera--container--content--region {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 560px;
  height: 760px;
  z-index: 1000;
}

.custom--modal--reasignar--cartera--container--content--region--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.custom--modal--reasignar--cartera--container--content--region--content--cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  height: 5%;
  padding-top: 25px;
  padding-right: 25px;
}

.custom--modal--reasignar--cartera--container--content--region--content--cancel
  > img {
  cursor: pointer;
}

.custom--modal--reasignar--cartera--container--content--region--content--cancel
  .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
  font-size: 26px;
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
