:root {
  --active: #00ffee;
  --hover: #d6d6d6;
}

/* ************************************ */
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 0;
  height: 100%;
  width: 275px;
  /* width: 100px; */
  background: #01043b;
  z-index: 500;

  /* opacity: 0.5; */
}

.sidebar-container.expanded {
  width: 275px;
  z-index: 1;
}

/* ************************************ */
.sidebar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 270px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 100%;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 5px;
  height: 100%;
  width: 210px;
  color: var(--hover);
  font-size: 16px;
}
/* ************************************ */
.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

/* ************************************ */
.link-router-dom {
  text-decoration: none;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 75px;
  width: 280px;
  color: var(--hover);
  font-size: 14px;
}

.item-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  width: 120px;
}

.item-icon-image {
  margin-bottom: 5px;
}

.no-selectionable {
  user-select: none;
}

.selected {
  color: var(--active);
}

.selected3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  color: var(--active);
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: -27px;
  left: 3px;
  height: 30px;
  width: 210px;
  font-size: 16px;
  color: var(--hover);
}

.item-description.selected2 {
  color: var(--active);
}

.mask-triangle {
  position: absolute;
  z-index: 600;
  top: -10px;
  left: 85px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 30px solid #01043b;
  /* border-left: 30px solid #7e83e2; */
  border-bottom: 30px solid transparent;
}

.mask-border {
  position: absolute;
  z-index: 7;
  top: -18px;
  left: 15px;
  height: 45px;
  width: 250px;
  border: 1px solid var(--active);
  border-radius: 5px;
}

.sidebar-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 320px;
  width: 100%;
  /* border: 1px solid white; */
}
