.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid black; */
  /* left: 35%; */
  /* position: relative; */
}
