.wallet-selections-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
}

.wallet-selections-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.wallet-selections-container-title {
  text-align: left;
  font: Bold 14px/17px Roboto;
  letter-spacing: 0px;
  color: #2d2e8f;
  opacity: 1;
}
