.select-text-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  width: 305px;
  height: 43px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
  outline: none;
  vertical-align: middle;
  padding-top: 0px;
  position: relative;
  border: 0.5px solid #707070;
  color: #01043b;
  cursor: pointer;
}

.label-select-text-user-container {
  padding-left: 12px;
}

.select-text-user-container-selected-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: inherit;
  padding-left: 5px;
  font-size: 16px;
  color: #707070;
}

.select-text-user-container-icon-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  padding-right: 5px;
  height: inherit;
}

.select-text-user-options {
  position: absolute;
  z-index: 1200;
  padding-top: 5px;
  height: 100px;
  display: none;
  width: 300px;
  border: 0.5px solid #707070;
  transition: all 0.9s;
  overflow: auto;
}

.select-text-user-options.open-select-text {
  display: block;
  margin-top: 2px;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

.select-text-user-option {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8px;
  height: 30px;
  cursor: pointer;
  outline: none;
  text-align: start;
}

/* .select-text-user-option:hover {
  color: white;
  background: #01043b;
} */

.arrow-invert {
  transform: rotate(180deg);
}
