.market-container-card-list {
  display: grid;
  grid-gap: 10px;
  height: 850px;
  width: 98%;
  padding: 10px;
  grid-template-columns: repeat(5, 290px);
  grid-template-rows: repeat(2, 420px);
  overflow-y: auto;
}

div.market-container-card-list::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  width: 7px;
}

div.market-container-card-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ecedf0;
  border-radius: 20px;
}

div.market-container-card-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px #d2daf4;
}

div.market-container-card-list:hover::-webkit-scrollbar {
  background: #f4f6fd;
}

/* ************************************************************ */

.market-container-card-list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 405px;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.market-container-card-list-element-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 10%;
  width: 90%;
  font-size: 24px;
  color: #101010;
  font-family: "Roboto";
}

.market-container-card-list-element-header-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
}

.market-container-card-list-element-suboptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 10%;
  width: 90%;
  color: rgb(147, 143, 143);
}

.market-container-card-list-element-suboptions-subitem {
  font-size: 12px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.market-container-card-list-element-suboptions-subitem.subItemSelected {
  border: 1px solid blue;
  border-radius: 30px;
  padding: 0px 5px;
}

.market-container-card-list-element-statics {
  height: 15%;
  width: 90%;
}

.market-container-card-list-element-months {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 88%;
  font-size: 11px;
  color: #101010;
  font-weight: 600;
}

.market-container-card-list-element-members {
  height: 45%;
  width: 90%;
  overflow: auto;
}

.market-container-card-list-element-members::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background: transparent;
}

.market-container-card-list-element-members::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #99ace9;
}

.market-container-card-list-element-members:hover::-webkit-scrollbar {
  background: transparent;
}

.market-container-card-list-element-members-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  border-radius: 5px;
  color: #101010;
  height: 50px;
  font-size: 12px;
  font-family: "Roboto";
  cursor: pointer;
}

.market-container-card-list-element-members-item.client-selected {
  background: #eff2f5;
  /* background: #e3e8ed; */
}

.market-container-card-list-element-members-item-1 {
  width: 10%;
  height: 40px;
}
.market-container-card-list-element-members-item-2 {
  width: 45%;
  height: 40px;
  text-align: left;
  font-size: 9px;
}
.market-container-card-list-element-members-item-3 {
  width: 25%;
  height: 40px;
  text-align: right;
  /* border: 1px solid green; */
}
.market-container-card-list-element-members-item-4 {
  width: 17%;
  height: 40px;
  text-align: right;
  /* border: 1px solid green; */
}

/* ************************************************************ */
.market-container-card-list-element-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 90%;
  cursor: pointer;
}
