.wallet-mini-card-container {
  width: 190px;
  height: 183px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000001c;
  border-radius: 10px;
  position: relative;
  opacity: 1;
}

.wallet-mini-card-container-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
}

.wallet-mini-card-container-top > div,
.wallet-mini-card-container-down > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-mini-card-container-medium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 90%;
  height: 68px;
  padding-left: 10px;
}

.wallet-mini-card-container-medium-title {
  color: #2d2e8f;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 700;
}

.wallet-mini-card-container-medium-value {
  color: #737dff;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
}

.wallet-mini-card-container-down {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.wallet-mini-card-container-down > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-mini-card-container-down-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: inherit;
}

.wallet-mini-card-container-down-title {
  color: #0ab8b2;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 700;
  width: 100%;
}

.wallet-mini-card-container-down-value {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  width: 100%;
}

.wallet-mini-card-container-line {
  bottom: 50px;
  left: 10px;
  position: absolute;
  width: 165px;
  height: 1.5px;
  background: #c1c1c1;
  opacity: 0.4;
}
