.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forget-links {
  display: grid;
  width: 280px;
  /* border: 1px solid red; */
}

.forget-links > div {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  /* border: 1px solid red; */
}

@media (min-width: 900px) {
  .forget-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
