.input-text {
  font-size: 16px;
  font-family: "Segoe UI";
  /* font-weight: 700; */
  color: #01043b;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgb(196, 202, 208);
  outline: none;
  background: #f4f6fd;
}

.input-text::placeholder {
  /* font-style: italic; */

  font-style: italic;
  font-family: "Segoe UI";
  font-size: 16px;
}

.input--small {
  width: 100px;
}

.input--medium {
  width: 200px;
}

.input--large {
  width: 400px;
}
