.custom--search--clean--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #eeeef4;
  height: 27px;
  background: rgb(252, 252, 252);
  border-radius: 8px;
  width: 300px !important;
}

.custom--search--clean--container.no-empty {
  border: 2px solid #737dff;
}

.custom--search--clean--container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom--search--clean--iconSearch {
  width: 100%;
}

.custom--search--clean--iconSearch img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.custom--search--clean--input {
  font-size: 16px;
  font-family: "Segoe UI";
  color: #01043b;
  border: none;
  width: 200px !important;
  outline: none;
}

.custom--search--clean--input::placeholder {
  font-style: italic;
  font-family: "Segoe UI";
  font-size: 16px;
  color: #a6a7c2;
}

.custom--search--clean--iconClean {
}

.custom--search--clean--iconClean img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.input--small {
  width: 100px;
}

.input--medium {
  width: 200px;
}

.input--large--100 {
  width: 250px;
}
