.treasury-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
  padding-top: 25px;
  padding-left: 35px;
  height: 90%;
}
/* *************************************************************** */
.treasury-dashboard-container .treasury-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1150px;
}

.treasury-dashboard-container .treasury-section .pie {
  height: 150px;
  width: 420px;
  position: relative;
}

.treasury-dashboard-container .treasury-section .pie .header .title {
  padding-left: 25px;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
}

.treasury-dashboard-container .treasury-section .pie .header .line {
  position: absolute;
  top: 20px;
  left: 0;
  height: 0.5px;
  width: 100%;
  background: #cacde6;
}

.treasury-dashboard-container .treasury-section .pie .statics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.treasury-dashboard-container .treasury-section .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
}

.treasury-dashboard-container .treasury-section .buttons .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0.5px solid #737dff;
  cursor: pointer;
}

.treasury-dashboard-container .treasury-section .buttons .container.ing {
  background: #737dff;
  color: white;
}

.treasury-dashboard-container .treasury-section .buttons .container.ext {
  background: white;
  color: black;
}

.treasury-dashboard-container .treasury-section .buttons .container .icon {
  padding: 10px;
  height: 35px;
  width: 35px;
}

.treasury-dashboard-container .treasury-section .buttons .container .title {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ********************************************************************************** */

.treasury-pie-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  color: black;
}

.treasury-my-circle-container {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(242, 240, 244);
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
}

.treasury-corona-interna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: inherit;
  width: inherit;
  color: #423894;
  background: #e4e8f4;
  border-radius: 50%;

  z-index: 5000;
  height: 70px;
  width: 70px;
  left: 15%;
  bottom: 15%;
}

.treasury-corona-interna > div {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.treasury-perc-element {
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Roboto";
  position: absolute;
  height: inherit;
  width: inherit;
}

.treasury-cartera-list {
  width: 330px;
  padding-top: 5px;
  overflow: auto;
}

.treasury-cartera-list .element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 14px;
  margin-bottom: 10px;
}

.treasury-cartera-list .element .point-icon {
  margin-top: 5px;
  height: 7px;
  width: 7px;
}

.treasury-cartera-list .element .description {
  color: #67698b;
  font-size: 14px;
  font-family: "Roboto";
  width: 35%;
}

.treasury-cartera-list .element .percentage {
  color: #2d2e8f;
  font-size: 14px;
  font-family: "Roboto";
  text-align: right;
  width: 60%;
}

.treasury-cartera-list .line {
  height: 0.5px;
  width: 100%;
  background: #cacde6;
}

.treasury-cartera-list .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
}

.treasury-cartera-list .total .title {
  font-size: 14px;
  color: rgb(104, 104, 228);
}
.treasury-cartera-list .total .value {
  font-size: 14px;
  color: rgb(104, 104, 228);
  width: 70%;
  text-align: right;
}

/* ********************************************************************************** */

.treasury-dashboard-container .table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background: white;
  border-radius: 10px;
  width: 95%;
}
