.ordenes-en-proceso {
  width: 900px;
  height: 750px;
  background: white;
  border-radius: 10px;
}

.ordenes-en-proceso-header {
  width: 99.8%;
  height: 125px;
  border: 2px solid #737dff;
  border-radius: 10px;
}

.ordenes-en-proceso-header .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 55px;
}

.ordenes-en-proceso-header .tabs .title {
  color: #737dff;
  width: 20%;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-color: #737dff;
  border-bottom-width: 2px;
  text-align: center;
}

.ordenes-linea-horizontal {
  height: 1px;
  width: 95%;
  color: rgb(192, 186, 186);
  background: rgb(212, 209, 209);
  margin-left: 17px;
}

.ordenes-en-proceso-header .tabs .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  color: #a4a7be;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ordenes-en-proceso-header .tabs .icons .container-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #0055ff29;
  border-radius: 5px;
  opacity: 1;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* ******************************************************** */
.ordenes-en-proceso-table-header {
  position: relative;
}

.ordenes-en-proceso-table-header .columns {
  display: grid;
  grid-template-columns: 85px 100px 100px 100px 100px 100px 100px 100px 100px;
  height: 30px;
}

.ordenes-en-proceso-table-header .columns .tipo {
  cursor: pointer;
}

.ordenes-en-proceso-table-header .columns > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
  text-align: center;
}

.ordenes-en-proceso-table-header .filter-header-options {
  display: none;
}

.ordenes-en-proceso-table-header .filter-header-options.openFilterHeader {
  display: block;
  position: absolute;
  top: 40px;
  left: 5px;
  width: 220px;
  height: 140px;
  border-radius: 10px;
  border: 2px solid #423994;
  background: #ffffff;
}

.ordenes-en-proceso-table-header .filter-header-options .filter-header-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #a4a7be;
  font-family: "Roboto";
  height: 33%;
  padding-left: 10px;
  cursor: pointer;
}

.ordenes-en-proceso-table-header
  .filter-header-options
  .filter-header-option.optionSelectedType {
  color: #423994;
}

.ordenes-en-proceso-table-header
  .filter-header-options
  .filter-header-option:hover {
  color: #737dff;
  font-weight: 700;
}

/* ******************************************************** */

.ordenes-en-proceso-header .selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
}

.ordenes-en-proceso-table-pendientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: auto;
}

.ordenes-en-proceso-table-pendientes::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.ordenes-en-proceso-table-pendientes::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.ordenes-en-proceso-table-pendientes:hover::-webkit-scrollbar {
  background: transparent;
}

.ordenes-en-proceso-table-pendientes-element {
  width: 880px;
  color: #a6adb4;
  font-size: 14px;
  font-family: "Roboto";
  /* border: 1px solid red; */
}

.ordenes-en-proceso-table-pendientes-element .data {
  display: grid;
  grid-template-columns: 70px 100px 100px 100px 90px 90px 90px 100px 100px;
  grid-gap: 5px;
  height: 50px;
}

.ordenes-en-proceso-table-pendientes-element .data:hover {
  background: #edf0f4;
  border-radius: 5px;
}

.ordenes-en-proceso-table-pendientes-element .data > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-color: #a6adb4;
  border-top-style: solid;
  border-top-width: 0.5px;
}

.ordenes-en-proceso-table-pendientes-element .data .orden {
  color: #01043b;
  font-family: "Roboto";
  cursor: pointer;
}

.ordenes-en-proceso-table-pendientes-element .data .estado {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
  cursor: pointer;
  color: #423994;
  text-decoration: underline;
}

/* ***************** */
.ordenes-en-proceso-table-pendientes-element .sub-data-list {
  display: none;
  width: 850px;
}

.ordenes-en-proceso-table-pendientes-element .sub-data-list.openSubData {
  display: block;
}

.ordenes-en-proceso-table-pendientes-element .sub-data-list .sub-data-element {
  display: grid;
  grid-template-columns: 70px 100px 100px 100px 90px 90px 90px 100px 100px;
  grid-gap: 5px;
  height: 50px;
  width: 880px;
}

.ordenes-en-proceso-table-pendientes-element
  .sub-data-list
  .sub-data-element
  > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
