.selectProfileCoin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 55px;
  height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
  outline: none;
  padding-top: 10px;
  position: relative;
  color: #423994;
  border: none;
  cursor: pointer;
}

.selectProfileCoin-options {
  position: absolute;
  padding: 2px;
  display: none;
  width: 45px;
  height: 55px;
  color: #423994;
  border: 1px solid #423994;
  transition: all 0.9s;
}

.selectProfileCoin-options.open-selectProfileCoin {
  display: block;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 5px;
}

.option-selectProfileCoin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  height: 50%;
  cursor: pointer;
  color: #423994;
  outline: none;
}

.option-selectProfileCoin:hover {
  color: white;
  background: #423994;
}

.arrow-invert {
  transform: rotate(180deg);
}
