.wallet-dashboard-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 830px;
  height: 100vh;
  opacity: 1;
  padding: 10px;
}
/* ************************************************ */
.wallet-dashboard-container-right-header {
  display: grid;
  grid-template-columns: 260px 530px;
  grid-template-rows: 75px;
}

.wallet-dashboard-container-right-header > div {
  /* border: 0.5px solid green; */
}

.wallet-dashboard-container-right-header-title {
  color: #737dff;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  height: inherit;
  width: inherit;
}

/* ************************************************ */
.wallet-dashboard-container-right-header-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px;

  background: white;
  height: inherit;
  width: 540px;
  border-left-color: #737dff;
  border-left-width: 2.5px;
  border-left-style: solid;
  padding-top: 20px;
}

.wallet-dashboard-container-right-header-data-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.wallet-dashboard-container-right-header-data.left,
.wallet-dashboard-container-right-header-data.center,
.wallet-dashboard-container-right-header-data.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: 0.5px solid green; */
  font-size: 12px;
  color: #a4a7be;
}

.wallet-dashboard-container-right-header-data-left > div,
.wallet-dashboard-container-right-header-data-center > div,
.wallet-dashboard-container-right-header-data-right > div {
  font-size: 12px;
  /* color: #a4a7be; */
}

.wallet-dashboard-container-right-header-data-right-email {
  color: #5c9afe;
  text-decoration: underline;
}
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* SIN CLIENTE SELECCIONADO TENENCIA */
/* SIN CLIENTE SELECCIONADO TENENCIA */
/* SIN CLIENTE SELECCIONADO TENENCIA */
/* SIN CLIENTE SELECCIONADO TENENCIA */
/* SIN CLIENTE SELECCIONADO TENENCIA */
/* SIN CLIENTE SELECCIONADO TENENCIA*/
.wallet-dashboard-container-right-cards {
  display: grid;
  grid-template-columns: 290px 290px 190px;
  grid-gap: 10px;
}

.wallet-dashboard-container-right-containers-desplegables {
  overflow: auto;
}

.wallet-dashboard-container-right-containers-desplegables::-webkit-scrollbar {
  width: 0.5px;
  height: 6px;
  background: transparent;
}

.wallet-dashboard-container-right-containers-desplegables::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.wallet-dashboard-container-right-containers-desplegables:hover::-webkit-scrollbar {
  background: transparent;
}

.wallet-dashboard-container-right-desplegables {
  width: 790px;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #0000000f; */
  box-shadow: 10px 10px 6px #0000001c;
  border-radius: 10px;
  opacity: 1;
  border-left-color: #737dff;
  border-left-width: 4px;
  border-left-style: solid;
  transition: all 0.3s;
}

.wallet-dashboard-container-right-desplegables-header {
  display: grid;
  grid-template-columns: 70px 500px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 760px;
  height: 70px;
}

.wallet-dashboard-container-right-desplegables-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wallet-dashboard-container-right-desplegables-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  width: 600px;
}

/* .wallet-dashboard-container-right-desplegables.open-tenencia {
  height: 250px;
} */

.wallet-dashboard-container-right-desplegables-list {
  display: none;
}

.wallet-dashboard-container-right-desplegables-list.visible-table {
  display: block;
}

/* ********************************************************************** */
/* ********************************************************************** */
/* ********************************************************************** */
/* ********************************************************************** */

.wallet-dashboard-container-right-desplegables-list-element .wd-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 730px;
  height: 45px;
}

.wallet-dashboard-container-right-desplegables-list-element .wd-element > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 14px;
  height: inherit;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-iconAmp {
  color: #a4a7be;
  width: 70px;
  margin: 0;
  cursor: pointer;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-title {
  justify-content: flex-start;
  color: #a4a7be;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  width: 240px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-invInicial {
  color: #a4a7be;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  width: 120px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-invActual {
  color: #0ab8b2;
  font-weight: 700;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  width: 120px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-operar {
  color: #5c9afe;
  text-decoration: underline;
  border-bottom-color: #a4a7be;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  width: 110px;
  cursor: pointer;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-iconOperar {
  cursor: pointer;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wd-element
  .wInst-el-iconOp {
  cursor: pointer;
}

/* ********************************************************************** */
/* ********************************************************************** */
/* ********************************************************************** */
/* ********************************************************************** */

.wallet-dashboard-container-right-desplegables-list-element .wInst-el-sublist {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist.visibleSubList {
  display: flex;
  width: 95%;
  margin-left: 20px;
  border: 0.5px solid #a4a7be;
  border-left-color: #737dff;
  border-left-width: 3px;
  border-left-style: solid;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element {
  display: grid;
  grid-template-columns: 285px 120px 140px 95px 40px;
  grid-gap: 10px;
  width: 100%;
  height: 30px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  .sb-desc {
  color: #a4a7be;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  .sb-invIni {
  color: #a4a7be;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  .sb-invAct {
  color: #0ab8b2;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  .sb-operar {
  color: #5c9afe;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.wallet-dashboard-container-right-desplegables-list-element
  .wInst-el-sublist
  .sb-element
  .sb-icon {
  cursor: pointer;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* SIN CLIENTE SELECCIONADO FEE */
/* SIN CLIENTE SELECCIONADO FEE */
/* SIN CLIENTE SELECCIONADO FEE */
/* SIN CLIENTE SELECCIONADO FEE */
/* SIN CLIENTE SELECCIONADO FEE */
/* SIN CLIENTE SELECCIONADO FEE */
.wallet-dashboard-container-right-cards2 {
  width: 813px;
  height: 371px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 20px;
  opacity: 1;
}

.wallet-dashboard-container-right-table2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 813px;
  height: 250px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 10px;
  opacity: 1;
}

.wallet-dashboard-container-right-table2-title {
  width: 770px;
  /* height: 37px; */
  font: Bold var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2d2e8f);
  text-align: left;
  font: Bold 14px/17px Roboto;
  letter-spacing: 0px;
  color: #2d2e8f;
  opacity: 1;
}

.wallet-dashboard-container-right-table2-header {
  display: grid;
  grid-template-columns: 100px 90px 90px 100px 90px 90px 90px;
  grid-gap: 5px;
  width: 799px;
  height: 38px;
  background: #f4f6fd 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.8;
  color: #a4a7be;
  font-size: 12px;
}

.wallet-dashboard-container-right-table2-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wallet-dashboard-container-right-table2-data {
  width: 799px;
  height: 98px;
  background: #fff;
  border-radius: 10px;
  opacity: 0.8;
  overflow: auto;
}

.wallet-dashboard-container-right-table2-data::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background: transparent;
}

.wallet-dashboard-container-right-table2-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #d3d6e2;
}

.wallet-dashboard-container-right-table2-data:hover::-webkit-scrollbar {
  background: transparent;
}

.wallet-dashboard-container-right-table2-data-item {
  display: grid;
  grid-template-columns: 100px 90px 90px 100px 90px 90px 90px 70px 30px;
  grid-gap: 5px;
}

.wallet-dashboard-container-right-table2-data-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d8097;
  font-family: "Roboto";
  font-size: 14px;
  height: 35px;
}

.wallet-dashboard-container-right-table2-data-item .simbolo,
.wallet-dashboard-container-right-table2-data-item .description,
.wallet-dashboard-container-right-table2-data-item .quantity,
.wallet-dashboard-container-right-table2-data-item .ultPrecio,
.wallet-dashboard-container-right-table2-data-item .ganancia,
.wallet-dashboard-container-right-table2-data-item .perdida,
.wallet-dashboard-container-right-table2-data-item .valorizado {
  border-bottom-color: #b6bad4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.wallet-dashboard-container-right-table2-data-item .ganancia {
  color: #0ab8b2;
}

.wallet-dashboard-container-right-table2-data-item .perdida {
  color: #e80451;
}

.wallet-dashboard-container-right-table2-data-item .operate {
  color: #5c9afe;
  text-decoration: underline;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
}

.wallet-dashboard-container-right-table2-totals {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 799px;
  height: 38px;
  background: #f4f6fd 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.8;
}

.wallet-dashboard-container-right-table2-totals-title,
.wallet-dashboard-container-right-table2-totals-value {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2e8f;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */
/* CON CLIENTE SELECCIONADO CUENTA CORRIENTE */

.wallet-dashboard-container-right-cards3 {
  display: grid;
  grid-template-columns: 0.6fr 2.5fr 3fr;
  width: 814px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #fbf08e;
  border-radius: 10px;
  opacity: 1;
}

.wallet-dashboard-container-right-cards3 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallet-dashboard-container-right-cards3-center {
}
.wallet-dashboard-container-right-cards3-center-salud {
  font: Regular var(--unnamed-font-size-14) / 20px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-67698b);
  text-align: left;
  font: Regular 14px/20px Roboto;
  letter-spacing: 0px;
  color: #67698b;
  opacity: 1;
  width: 95%;
}
.wallet-dashboard-container-right-cards3-center-inversor {
  font: Regular 13px/23px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: Regular 13px/23px Roboto;
  letter-spacing: 0px;
  color: #b6b4d9;
  opacity: 1;
  width: 95%;
}
.wallet-dashboard-container-right-cards3-right {
  font: Regular 13px/23px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: Regular 13px/23px Roboto;
  letter-spacing: 0px;
  color: #b6b4d9;
  opacity: 1;
  width: 95%;
}

.wallet-dashboard-container-right-table3 {
  width: 814px;
  height: 438px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.wallet-dashboard-container-right-table3-data {
  width: 800px;
  height: 320px;
  margin-left: 3px;
  overflow: auto;
}

.wallet-dashboard-container-right-table3-data::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}

.wallet-dashboard-container-right-table3-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #687ec7;
}

.wallet-dashboard-container-right-table3-data:hover::-webkit-scrollbar {
  background: transparent;
}
