.operate-container-schedule {
  width: 420px;
  position: absolute;
  top: -50px;
  left: 0;
}

.operate-container-schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  width: 95%;
  height: 38px;
  background: #0ab8b2 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 10px;
}

.nextStepRodrigo {
  background: #0ab8b2 0% 0% no-repeat padding-box;
}

.warningRodrigo {
  background: #f1c40f 0% 0% no-repeat padding-box;
}
