.operate-dashboard-container-main-card {
  width: 100%;
  /* height: 180px; */
  background: white;
  color: #a4a7be;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 10px;
  opacity: 1;
}

.operate-sub-items-buy-sell-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 3px solid #737dff;
  /* height: 180px; */
  width: 99.4%;
  height: 170px;
}

/* ********************************************** */

.operate-sub-items-buy-sell-view > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* ********************************************** */

.operate-sub-items-buy-sell-view-name-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-grid-operate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  text-align: start;
  color: #67698b;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.operate-sub-items-buy-sell-view-cuit-comit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* *********************************************** */
.operate-sub-items-buy-sell-view-radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.operate-sub-items-buy-sell-view-radio-buttons .title-grid-operate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.operate-sub-items-buy-sell-view-radio-buttons .title-grid-operate > div {
  padding-bottom: 3px;
}

.operate-sub-items-buy-sell-view-radio-buttons .radios {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.radio-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
}

.radio-element .top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: #67698b;
}

.radio-element .low {
  width: 100%;
  text-align: left;
  padding-left: 26px;
  font-size: 12px;
}

.img-radio-term-operate {
  border-radius: 50%;
  cursor: pointer;
}

.img-radio-term-operate.checked {
  background: radial-gradient(blue, rgb(255, 255, 255), rgb(255, 255, 255));
}
