.home-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, minmax(250px, 730px));
  grid-template-rows: repeat(3, 1fr);
  padding: 50px 50px;
  position: relative;
  align-items: flex-start;
  justify-items: center;
  height: 80%;
  width: 1730px;
  overflow: auto;
}
