.container-login {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(10, 3fr); */
  /* flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative; */
}

.left-image {
  height: 100vh;
  width: 100%;
}

.container-2 {
  background: #f4f6fd;
}

.container-login > div {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 900px) {
  .container-login {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);

    /* grid-template-rows: repeat(1, 1fr); */
  }
}
