.wallet-cartera-list {
  width: inherit;
  padding: 15px;
  width: 250px;
  overflow: auto;
  /* border: 0.5px solid red; */
}
/* ****************************************** */
.wallet-cartera-list .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 5px;
  overflow: auto;
}

.wallet-cartera-list .list .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 14px;
  margin-bottom: 10px;
}

.wallet-cartera-list .list .element .point-icon {
  height: 3px;
  width: 4px;
  border-radius: 55%;
  background: white;
  border: 3px solid;
}

.wallet-cartera-list .list .element .description {
  color: #67698b;
  font-size: 12px;
  font-family: "Roboto";
  width: 35%;
}

.wallet-cartera-list .list .element .percentage {
  color: #a4a7be;
  font-size: 10px;
  font-family: "Roboto";
  text-align: right;
  width: 60%;
}

.wallet-cartera-list .line {
  height: 0.5px;
  width: 100%;
  background: #cacde6;
}

.wallet-cartera-list .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.wallet-cartera-list .total .title {
  font-size: 14px;
  color: #67698b;
  font-family: "Roboto";
  margin: 0;
}
.wallet-cartera-list .total .value {
  font-size: 14px;
  color: #737dff;
  font-family: "Roboto";
  font-weight: 700;
}
