.custom--modal--extract--container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(32, 29, 135, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: 6000;
  display: none;
}

.custom--modal--extract--container.open-modal {
  display: block;
}

.custom--modal--extract--container .region {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 560px;
  height: 600px;
  z-index: 1000;
}

.custom--modal--extract--container .region .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.custom--modal--extract--container .region .content .cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  height: 5%;
  padding-top: 25px;
  padding-right: 25px;
}

.custom--modal--extract--container .region .content .cancel > img {
  cursor: pointer;
}

.custom--modal--extract--container .region .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
  font-size: 26px;
  color: #040560;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.custom--modal--extract--container .region .content .names {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.custom--modal--extract--container .region .content .names .name {
  width: 490px;
  height: 75px;
}

.custom--modal--extract--container .region .content .selections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.custom--modal--extract--container .region .content .selections .currency {
  width: 163px;
  height: inherit;
}
.custom--modal--extract--container .region .content .selections .account {
  width: 315px;
  height: inherit;
}

.custom--modal--extract--container .region .content .values {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.custom--modal--extract--container .region .content .values .value {
  width: 250px;
  height: 110px;
}

/* .custom--modal--extract--container .region .content .files {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 175px;
  border-radius: 3px;
  background: #eeeef5;
}

.custom--modal--extract--container .region .content .files .file {
  width: 98%;
  height: 97%;
  border: 1px dashed #a4a7be;
  background: white;
} */

.custom--modal--extract--container .region .content .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
}

.custom--modal--extract--container .region .content .buttons .load {
  text-align: center;
}

.custom--modal--extract--container .region .content .buttons .no-load {
  color: #737dff;
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
