.input-text-user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: start;
  width: 90%;
  text-align: center;
}

.input-text-user-profile-container > label {
  text-align: start;
  padding-left: 20px;
  text-align: start;
  width: 100%;
}
.input-text-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-family: "Segoe UI";
  color: #01043b;
  border-radius: 6px;
  width: 100%;
  height: 42px;
  border: 0.5px solid #707070;
  margin-top: 1px;
  /* border: 1px solid blue; */
}

.input-text-user-profile.focusInput {
  border: 0.5px solid rgb(29, 29, 231);
}

.input-text-user-profile > input {
  width: 70%;
  height: 40px;
  font-size: 14px;
  border-style: none;
  outline: none;
  background: white;
  padding-left: 10px;
}

.input-text-user-container-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  width: 30%;
  height: 100%;
}

.input-text-user-profile-edit-icon {
  cursor: pointer;
}

.input-text-user-profile::placeholder {
  font-style: italic;
  font-family: "Segoe UI";
  font-size: 16px;
  color: #a6a7c2;
}
