.latestNews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 20px #0000000f;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
}
/* ************************************************ */
.latestNews-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 98%;
  height: 13%;
}

.latestNews-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.latestNews-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  color: #423994;
  font-size: 12px;
}
/* ************************************************ */
.latestNews-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 21%;
  background: #d1d9f6;
  border-radius: 5px;
  color: #737dff;
  font-size: 25px;
  font-style: italic;
}

/* ****************************************** */
div.latestNews-content-news {
  display: grid;
  grid-gap: 10px;
  height: 25%;
  width: 98%;
  grid-template-columns: repeat(100, 49%);
  overflow: auto;
}

div.latestNews-content-news::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #fafafc;
}

div.latestNews-content-news::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #e4e5e9;
  border-radius: 20px;
}

div.latestNews-content-news::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px #9aabe2;
}

div.latestNews-content-news:hover::-webkit-scrollbar {
  background: transparent;
}

.latestNews-content-news-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  background: #d1d9f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 13px;
}

.element-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.element-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}
.element-info-title {
  font-size: 15px;
  font-weight: 600;
  color: #67698b;
}

.element-info-content {
  font-size: 14px;
  color: #a4a7be;
}
/* ****************************************** */

.latestNews-content-events {
  display: grid;
  grid-gap: 10px;
  height: 50%;
  width: 98%;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(10, 70px);
  overflow-y: auto;
}

div.latestNews-content-events::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  width: 7px;
}

div.latestNews-content-events::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ecedf0;
  border-radius: 20px;
}

div.latestNews-content-events::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px #d2daf4;
}

div.latestNews-content-events:hover::-webkit-scrollbar {
  background: #f4f6fd;
}

.latestNews-content-events-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 69px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 13px;
}

/* ****************************************** */

.latestNews-content-events-element:hover {
  background: #d1d9f6;
  cursor: pointer;
}
