.operate-confirm-procedure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 115px;
  right: -3400px;
  height: 560px;
  width: 0px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #1127b424;
  opacity: 0;
  border: 2px solid #737dff;
}

.operate-confirm-procedure-container.active-confirm-card {
  /* display: block; */
  bottom: 4px;
  width: 900px;
  right: -4px;
  opacity: 1;
}

.operate-confirm-procedure-container .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  color: #67698b;
  font-size: 26px;
  font-family: "Roboto";
}
.operate-confirm-procedure-container .data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

/* ****************** BOLSA ********************************************* */
.operate-confirm-procedure-container .data .data-fields {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
}

.operate-confirm-procedure-container .data .data-fields .my-header {
  grid-column: 1/3;
}

.operate-confirm-procedure-container .data .data-fields .my-header .value {
  color: #2d2e8f;
}

.operate-confirm-procedure-container .data .data-fields .my-content {
  grid-column: span 1;
}

.operate-confirm-procedure-container .data .data-fields .my-footer {
  grid-column: 1/3;
}

.operate-confirm-procedure-container
  .data
  .data-fields
  .description-value-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 384px;
  height: 44px;
  border: 1px solid #737dff;
  border-radius: 10px;
  color: #67698b;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
}

.operate-confirm-procedure-container .total-operation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 44px;
  width: 852px;
  border-radius: 10px;
  background: #dfe2f7;
  color: #67698b;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 18px;
}

/* ************************************************ */

.operate-confirm-procedure-container .final-confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  border-radius: 5px;
}

.operate-confirm-procedure-container .final-confirm.nextStepRodrigo {
  background: #737dff 0% 0% no-repeat padding-box;
}

.operate-confirm-procedure-container .final-confirm.warningRodrigo {
  background: #f1c40f 0% 0% no-repeat padding-box;
}

.operate-confirm-procedure-container .final-confirm .cancel {
  text-decoration: underline;
  font: Regular 14px/32px Roboto;
  letter-spacing: 0px;
  color: #f4f6fd;
  opacity: 1;
  font-size: 14;
  font-family: "Roboto";
  color: #f4f6fd;
  cursor: pointer;
}

.operate-confirm-procedure-container .final-confirm .finish-ok {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #423994;
  border-radius: 22px;
  opacity: 1;
  color: #423994;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  height: 45px;
  width: 210px;
  cursor: pointer;
}

.operate-confirm-procedure-container .final-confirm .finish-ok:active {
  border: 2px solid white;
}

.description-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.description-value .description {
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
}

.description-value .value {
  color: #737dff;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* ************************** FONDOS ****************************** */
.operate-confirm-procedure-container .data .data-fields-funds {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
}

.operate-confirm-procedure-container .data .data-fields-funds .my-header {
  grid-column: 1/3;
}

.operate-confirm-procedure-container
  .data
  .data-fields-funds
  .my-header
  .value {
  color: #2d2e8f;
}

.operate-confirm-procedure-container .data .data-fields-funds .my-content {
  grid-column: span 1;
}

.operate-confirm-procedure-container .data .data-fields-funds .my-footer {
  grid-column: 1/3;
}

.operate-confirm-procedure-container
  .data
  .data-fields-funds
  .description-value-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 384px;
  height: 44px;
  border: 1px solid #737dff;
  border-radius: 10px;
  color: #67698b;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
}

.operate-confirm-procedure-container .total-operation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 44px;
  width: 852px;
  border-radius: 10px;
  background: #dfe2f7;
  color: #67698b;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 18px;
}

/* ************************************************ */

.operate-confirm-procedure-container .final-confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  background: #737dff;
  border-radius: 5px;
}

.operate-confirm-procedure-container .final-confirm .cancel {
  text-decoration: underline;
  font: Regular 14px/32px Roboto;
  letter-spacing: 0px;
  color: #f4f6fd;
  opacity: 1;
  font-size: 14;
  font-family: "Roboto";
  color: #f4f6fd;
  cursor: pointer;
}

.operate-confirm-procedure-container .final-confirm .finish-ok {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #423994;
  border-radius: 22px;
  opacity: 1;
  color: #423994;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  height: 45px;
  width: 210px;
  cursor: pointer;
}

.operate-confirm-procedure-container .final-confirm .finish-ok:active {
  border: 2px solid white;
}

.description-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.description-value .description {
  color: #a4a7be;
  font-size: 14px;
  font-family: "Roboto";
}

.description-value .value {
  color: #737dff;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}
