.market-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, minmax(90%, 100%));
  grid-template-rows: repeat(1, 100px);
  padding: 20px 20px;
  position: relative;
  align-items: flex-start;
  justify-items: center;
  height: 90%;
  overflow: auto;
}

/* ************************************************************ */

figure {
  margin: 0;
  padding: 0;
}

/* ************************************************************ */
.market-container-card-list-element-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 90%;
  cursor: pointer;
}
