.market-container-index {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 99%;
  height: 150px;
}

.market-container-index .merval {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 110px;
  overflow: auto;
}

.market-container-index .divisas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 110px;
  overflow: auto;
}

.divisas-list-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  overflow: auto;
  margin-bottom: 5px;
}

.title-list {
  color: #737dff;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  width: 100%;
  padding-left: 10px;
}

/* ************************************************* */

.market-container-index-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  height: 52px;
  max-height: 94px;
  width: 165px;
  max-width: 165px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 10px #01155729;
  border-radius: 10px;
  font-family: "Roboto";
  border: 2px solid #ffffff;
}

.green {
  background: #dbffe2;
}

.red {
  background: #ffd8d8;
}

.black1 {
  background: #01043b;
  color: white !important;
}

.market-container-index::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.market-container-index::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 0 0 3px #9aabe2;
}

.market-container-index:hover::-webkit-scrollbar {
  background: transparent;
}

/* ************************************************ */
.market-container-index-element-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #67698b;
  font-family: "Roboto";
  font-size: 13px;
  height: 100%;
  width: 50%;
}

.market-container-index-element-left .image-country {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.market-container-index-element-left .image-country > img {
  height: 22px;
  width: 22px;
  border-radius: 50px;
}

.market-container-index-element-left .image-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 22px;
}

.market-container-index-element-left .image-arrow > img {
  height: 14px;
  width: 12px;
  padding-bottom: 6px;
}

/* ************************************************ */

.market-container-index-element-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: #67698b;
  /* font-weight: bold; */
  height: 100%;
  width: 50%;

  text-align: right;
  font-size: 14px;
}
