.custom--select--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  width: 125px;
  height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
  outline: none;
  vertical-align: middle;
  padding-top: 0px;
  position: relative;
  border: 1px solid #737dff;
  color: #423994;
  cursor: pointer;
}

.custom--select--container--options {
  position: absolute;
  top: 23px;
  padding: 2px;
  right: 2px;
  display: none;
  width: 160px;
  /* height: 195px; */
  color: #423994;
  border: 1px solid #737dff;
  transition: all 0.9s;
  z-index: 800;
}

.custom--select--container--options.open--select {
  display: block;
  margin-top: 8px;
  color: #423994;
  background: rgb(252, 252, 252);
  border-radius: 10px;
}

.custom--select--container--options--option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-left: 15px;
  margin-top: -1px;
  height: 40px;
  cursor: pointer;
  color: #a4a7be;
  outline: none;
  font-size: 14px;
  width: 145px;
}

.custom--select--container--options--option.border--top {
  border-top-color: #a4a7be;
  border-top-style: solid;
  border-top-width: 0.5px;
}

.custom--select--container--options--option:hover {
  color: #423994;
  font-weight: 700;
}

.arrow-invert {
  transform: rotate(180deg);
}
